<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>注文履歴一覧</h5>
        <div class="content_box_detail">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>注文者</th>
                <th>受取日時</th>
                <th>注文商品</th>
                <th>金額</th>
                <th width="15%">状態</th>
              </tr>
            </thead>
            <tbody>
              <% if @orders.present? %>
                <% @orders.each do |order| %>
                  <tr class="pointer" data-href="<%= shops_order_path(order) %>">
                    <td><%= order.user.full_name %></td>
                    <td><%= order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
                    <td><%= order.order_items_name %></td>
                    <td>¥<%= order.total_payment.to_s(:delimited) %></td>
                    <td><%= order.status %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>
                    まだ注文がありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="return_btn center">
          <%= link_to "ホームへ戻る", shop_path(current_shop), class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>