<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>注文履歴詳細</h5>
        <div class="back_btn right">
          <%= link_to "戻る", :back, class: "arrow2" %>
        </div>
        <hr>
        <div class="content_box_detail">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>注文者</th>
                <td colspan=3><%= @order.user.full_name %></td>
              </tr>
              <tr>
                <th>予約番号</th>
                <td colspan=3><%= @order.reserve_number %></td>
              </tr>
              <tr>
                <th>受取希望日時</th>
                <td colspan=3><%= @order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
              </tr>
              <tr>
                <th>要望</th>
                <td><%= @order.requested %></td>
              </tr>
            </thead>
          </table>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>商品名</td>
                <td>数量</td>
                <td>金額</td>
              </tr>
              <% @order.order_items.each do |item| %>
                <tr>
                  <td><%= item.menu_name %></td>
                  <td><%= item.menu_amount %></td>
                  <td>¥<%= price(item.menu_price * item.menu_amount) %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td>合計</td>
                <td>¥<%= price(@order.total_payment) %></td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
        
        <% if @order.status == "新規注文" %>
          <div class="return_btn center ma-b-50">
            <%= link_to "注文を受け付ける", shops_order_path(status: 1), method: :patch, data: { confirm: '注文を受け付けてよろしいですか?' }, class: "btn btn-success btn-sm ma-10" %>
            <%= link_to "注文を断る", shops_order_path(status: 3), method: :patch, data: { confirm: '注文をキャンセルしてもよろしいですか?' }, class: "btn btn-danger btn-sm ma-10" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>