<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>新規注文一覧</h5>
        <div class="back_btn right">
          <%= link_to "戻る", shops_path, class: "arrow2" %>
        </div>
        <div class="content_box_detail">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>注文者</th>
                <th>受取日時</th>
                <th>金額</th>
              </tr>
            </thead>
            <tbody>
              <% if @new_orders.present? %>
                <% @new_orders.each do |order| %>
                  <tr class="pointer" data-href="<%= shops_order_path(order) %>">
                    <td><%= order.user.full_name %></td>
                    <td><%= order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
                    <td>¥<%= price(order.total_payment) %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan=3>
                    新規の注文はありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>本日の受付注文一覧</h5>
        <div class="content_box_detail">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>注文者</th>
                <th>受取日時</th>
                <th>金額</th>
              </tr>
            </thead>
            <tbody>
              <% if @reception_orders.present? %>
                <% @reception_orders.each do |order| %>
                  <tr class="pointer" data-href="<%= shops_order_path(order) %>">
                    <td><%= order.user.full_name %></td>
                    <td><%= order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
                    <td>¥<%= price(order.total_payment) %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan=3>
                    受付した注文はありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>本日のキャンセル注文一覧</h5>
        <div class="content_box_detail">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>注文者</th>
                <th>受取日時</th>
                <th>金額</th>
              </tr>
            </thead>
            <tbody>
              <% if @cancel_orders.present? %>
                <% @cancel_orders.each do |order| %>
                  <tr class="pointer" data-href="<%= shops_order_path(order) %>">
                    <td><%= order.user.full_name %></td>
                    <td><%= order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
                    <td>¥<%= price(order.total_payment) %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan=3>
                    キャンセルした注文はありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
jQuery(function ($) {
  //data-hrefの属性を持つtrを選択しclassにclickableを付加
  $("tr[data-href]")
    .addClass("clickable")

  //クリックイベント
  .click(function (e) {
    //e.targetはクリックした要素自体、それがa要素以外であれば
    if (!$(e.target).is("a")) {
      //その要素の先祖要素で一番近いtrの
      //data-href属性の値に書かれているURLに遷移する
      window.location = $(e.target).closest("tr").data("href");
    }
  });
});
</script>