<div class="row row-cols-2 row-cols-md-4">
  <% menus.each do |menu| %>
    <div class="col mb-4">
      <%= link_to menu_path(menu) do %>
        <div class="card scale-box">
          <% if menu.menu_images.present? %>
            <%= image_tag menu.main_image.file_name.thumb_width.to_s, class:"scale-img wid-100" %>
          <% else %>
            <%= image_tag "noimage.png", class: "wid-100" %>
          <% end %>
          <div class="card-body">
            <p class="c-title"><%= menu.name %></p>
            <p class="c-subtitle">【<%= menu.shop.name %>】</p>
            <p class="c-text right">
              ¥<%= price(menu.price) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if menus.present? %>
  <% menus.each do |menu| %>
    <%= render partial: "menus/modal", locals: {menu: menu} %>
  <% end %>
<% end %>