<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="form_box">
        <h5 class="center">新規商品登録</h5>
        <hr>
        <%= form_for @menu do |f| %>
          <div class="field ma-b-50">
            <%= f.label :name, "商品名" %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :menu_type, "商品タイプ" %><br />
            <%= f.select :menu_type, Menu.menu_types.keys, {include_blank: "選択してください"}, {class: "custom-select"} %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :price, "価格" %><br />
            <%= f.number_field :price, autofocus: true, autocomplete: "price", class:"form-control" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :fee, "手数料（％）" %><br />
            <%= f.number_field :fee, autofocus: true, autocomplete: "fee", class:"form-control", placeholder: "例:10" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :estimated_time, '完成までの目安時間' %>
            <%= f.select :estimated_time, {'10分': 10, '20分': 20, '30分': 30, '40分': 40, '50分': 50, '60分': 60 }, { include_blank: '選択してください'}, {class: "custom-select"} %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :introduction, "商品紹介文" %><br />
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"form-control" %>
          </div>
          
          <% if admin_signed_in? %>
            <div class="field ma-b-50">
              <%= f.label :shop_id, "登録店舗" %><br />
              <%= f.collection_select :shop_id, @shops, :id, :name, include_blank: true %>
            </div>
          <% end %>
          <div class="actions center">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$('input').on('focusin', function() {
  $(this).parent().find('label').addClass('active');
});

$('input').on('focusout', function() {
  if (!this.value) {
    $(this).parent().find('label').removeClass('active');
  }
});
</script>
