<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="form_box">
        <%= form_for @menu, url: menus_path do |f| %>
          <div class="field ma-b-50">
            <%= f.label :name, "商品名" %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :price, "価格" %><br />
            <%= f.number_field :price, autofocus: true, autocomplete: "price", class:"form-control" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :special_price, "セール価格" %><br />
            <%= f.number_field :special_price, autofocus: true, autocomplete: "special_price", class:"form-control" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :fee, "手数料（％）" %><br />
            <%= f.number_field :fee, autofocus: true, autocomplete: "fee", class:"form-control", placeholder: "例:10" %>
          </div>


          <div class="field ma-b-50">
            <%= f.label :introduction, "商品紹介文" %><br />
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"form-control" %>
          </div>
          
          <% if admin_signed_in? %>
            <div class="field ma-b-50">
              <%= f.label :introduction, "商品紹介文" %><br />
              <%= f.collection_select :shop, :name, shops, :id, :name, include_blank: true %>
            </div>
          <% end %>
          <div class="actions center">
            <%= f.submit "登録", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
