<!-- メイン画像 -->
<%= render partial: "layouts/main_image" %>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h6 class="ma-b-20">検索した商品：<%= @search_menus.count %>件</h6>
      <% if @menus.present? %>
        <%= render partial: "menus/menus", locals:{menus: @menus} %>
        <div class="row center ma-b-20">
          <div class="col-md-12">
            <%= paginate @menus %>
          </div>
        </div>
      <% else %>
        <div class="non_search pa-30">
          <h5 class="center">検索されたメニューはありませんでした</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>