<div class="container-fluid head-pad">
  <div class="row">
    <div class="col-md-8 offset-md-2 center">
      <% if @menu.menu_images.present? %>
        <%= image_tag @menu.menu_images[0].file_name.thumb_square.to_s, id:"sample_img", class: "wid-70" %>
      <% else %>
        <%= image_tag "noimage.png", class: "wid-100" %>
      <% end %>
    </div>
    <div class="col-md-4 offset-md-2">
      <h5><%= @menu.name %></h5>
      <h6><%= @menu.shop.name %></h6>
      <br>
      <h6>¥<%= @menu.price %></h6>
    </div>
    <div class="col-md-6">
      <p><%= @menu.introduction %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 offset-md-2 center" style="padding-top: 0.8rem;">
      <%= form_for CartItem.new, url: menu_cart_items_path(@menu) do |f| %>
        <%= f.hidden_field :shop_id, value: @menu.shop_id %>
        <span id="minusButton<%= @menu.id %>" class="pointer minusBtn">-</span>
        <%= f.text_field :amount, id: "counterOutput#{@menu.id}", class:"amount_input", value:1 %>
        <span id="plusButton<%= @menu.id %>" class="pointer plusBtn">+</span>
        <div class="actions center">
          <%= f.submit "カートに追加する", class: "button-fill" %>
          <%= link_to "今すぐ注文する", new_menu_order_path(@menu), class: "button-fill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  let counterOutput<%= @menu.id %> = document.getElementById("counterOutput<%= @menu.id %>");
  // 加算機能
  let plusButton<%= @menu.id %> = document.getElementById("plusButton<%= @menu.id %>");
  let onClickPlusButton<%= @menu.id %> = () => {
    counterOutput<%= @menu.id %>.value++;
  };
  plusButton<%= @menu.id %>.addEventListener("click", onClickPlusButton<%= @menu.id %>);

  // 減算機能
  let minusButton<%= @menu.id %> = document.getElementById("minusButton<%= @menu.id %>");
  let onClickMinusButton<%= @menu.id %> = () => {
    if (counterOutput<%= @menu.id %>.value > 1) {
      counterOutput<%= @menu.id %>.value--; // カウント数が1以上のときだけ減算する
    }
  };
  minusButton<%= @menu.id %>.addEventListener("click", onClickMinusButton<%= @menu.id %>);
</script>