<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th width="20%">商品名</th>
                <td><%= @menu.name %></td>
              </tr>
              <tr>
                <th>商品タイプ</th>
                <td><%= @menu.menu_type %></td>
              </tr>
              <tr>
                <th>商品ジャンル</th>
                <td><%= @menu.genre %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>¥<%= @menu.price %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td><%= @menu.fee %>％</td>
              </tr>
              <tr>
                <th>販売店舗</th>
                <td><%= @menu.shop.name %></td>
              </tr>
              <tr>
                <th>商品紹介文</th>
                <td><%= @menu.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="order_btn center">
          <%= link_to "今すぐ注文する", new_menu_order_path(@menu.id), class: "btn btn-danger" %>
          <% if current_user.cart_already_include(@menu) %>
            <%= link_to "カートに追加する", "#", method: :patch, class: "btn btn-warning" %>
          <% else %>
            <%= link_to "カートに入れる", menu_cart_items_path(@menu), method: :post, class: "btn btn-danger" %>
          <% end %>
        </div>
        <div class="return_btn center">
          <%= link_to "一覧へ戻る", menus_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>