<div class="container-fluid background">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="image_box">
            <% if @menu.menu_images.present? %>
              <div class="menu_image-box center ma-b-10">
                <%= image_tag @menu.menu_images[0].file_name.url, class:"wid-50" %>
              </div>
              <div class="menu_image-box center">
                <% @menu.menu_images.each do |image| %>
                  <%= image_tag image.file_name.thumb100.to_s %>
                <% end %>
              </div>
            <% else %>
              <div class="image_box center">
                <%= image_tag "noimage.png", size:"300x200" %>
              </div>
            <% end %>
          </div>
          </div>
          <div class="col-8">
            <div class="content_box_detail">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="20%">商品名</th>
                    <td><%= @menu.name %></td>
                  </tr>
                  <tr>
                    <th>商品ジャンル</th>
                    <td><%= @menu.genre %></td>
                  </tr>
                  <tr>
                    <th>価格</th>
                    <td>¥<%= @menu.price %></td>
                  </tr>
                  <tr>
                    <th>販売店舗</th>
                    <td><%= @menu.shop.name %></td>
                  </tr>
                  <tr>
                    <th>商品紹介文</th>
                    <td><%= @menu.introduction %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 offset-3">
            <div class="order_btn center">
              <%= link_to "今すぐ注文する", new_menu_order_path(@menu), class: "btn btn-danger" %>
            </div>
          </div>
          <div class="col-3">
            <div class="order_btn center">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                カートに入れる
              </button>
            </div>
          </div>
        </div>
        <div class="return_btn center">
          <%= link_to "一覧へ戻る", menus_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">数量を選択してください</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for CartItem.new, url: menu_cart_items_path(@menu) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="modal-body">
          <%= f.number_field :amount, autofocus: true, value: 1 %>個
        </div>
        <div class="modal-footer center">
          <%= f.submit "追加", class: "btn btn-primary" %>
        </div><!-- /.modal-footer -->
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->