<div class="container">
  <div class="row ma-t-20">
    <div class="col-12">
      <div class="back_btn">
        <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", 'javascript:history.back()', class: "font-20" %>
      </div>
      <hr>
    </div>
    <div class="col-sm-4">
      <div class="image_box">
        <% if @menu.menu_images.present? %>
          <div class="menu_image-box center ma-b-10" id="mainImg">
            <%= image_tag @menu.main_image.file_name.thumb_width.to_s, class:"wid-100" %>
          </div>
          <div class="menu_image-box center">
            <ul id="subImg" style="list-style:none;padding:0;">
              <li class="dis-ib"><%= image_tag @menu.main_image.file_name.thumb_width.to_s, size: "75x75", class: "current" %></li>
              <% if @menu.menu_images.count >= 2 %>
                <% @menu.not_main_images.each do |image| %>
                  <li class="dis-ib"><%= image_tag image.file_name.thumb_width.to_s, size: "75x75" %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class="menu_image-box center ma-b-10 border">
            <%= image_tag "noimage.png", class:"wid-100" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <p class="m-text"><%= link_to @menu.shop.name, users_shop_path(@menu.shop), class:"gray" %></p>
      <p class="m-title"><%= @menu.name %></p>
      <p class="m-text ma-y-10">¥<%= price(@menu.price) %></p>
      <p class="m-text right ma-b-20">目安時間：<%= @menu.estimated_time %><span>-</span><%= @menu.estimated_time + 10 %>分</p>
      <p class="m-text"><%= introduction(@menu.introduction) %></p>
    </div>
  </div>
  <hr>
  <%= form_for CartItem.new, url: menu_cart_items_path(@menu) do |f| %>
    <%= f.hidden_field :menu_id, value: @menu.id %>
    <div class="row">
      <div class="col-sm-8 offset-sm-2 center">
        <div class="row">
          <div class="col-sm-12 center">
            <h6 class="left">注文数</h6>
            <span id="minusButton<%= @menu.id %>" class="pointer minusBtn"><i class="fas fa-minus-circle fa-lg"></i></span><%= f.text_field :amount, id: "counterOutput#{@menu.id}", class:"amount_input", value:1 %><span id="plusButton<%= @menu.id %>" class="pointer plusBtn"><i class="fas fa-plus-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8 offset-sm-2 center">
        <div class="row">
          <div class="col-6 center">
            <%= f.submit "カートに追加する", class: "button-fill" %>
          </div>
          <div class="col-6 center">
            <%= link_to "単品注文する", new_menu_order_path(@menu), class: "button-fill" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  let counterOutput<%= @menu.id %> = document.getElementById("counterOutput<%= @menu.id %>");
  // 加算機能
  let plusButton<%= @menu.id %> = document.getElementById("plusButton<%= @menu.id %>");
  let onClickPlusButton<%= @menu.id %> = () => {
    counterOutput<%= @menu.id %>.value++;
  };
  plusButton<%= @menu.id %>.addEventListener("click", onClickPlusButton<%= @menu.id %>);

  // 減算機能
  let minusButton<%= @menu.id %> = document.getElementById("minusButton<%= @menu.id %>");
  let onClickMinusButton<%= @menu.id %> = () => {
    if (counterOutput<%= @menu.id %>.value > 1) {
      counterOutput<%= @menu.id %>.value--; // カウント数が1以上のときだけ減算する
    }
  };
  minusButton<%= @menu.id %>.addEventListener("click", onClickMinusButton<%= @menu.id %>);

  $(function(){
    $('#subImg img').on('click',function(){
        //mainに切り替えるimgのsrc取得
        img = $(this).attr('src');
        //currentクラス付け替え
        $('#subImg li').removeClass('current');
        $(this).parent().addClass('current');
        //fadeOutできたらsrc変更してfadeIn
        $('#mainImg img').fadeOut(50, function() {
            $('#mainImg img').attr('src', img).on('load', function() {
                 $(this).fadeIn();
            })
       })
    });
});
</script>