<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="content_box">
        <h5>店舗情報詳細</h5>
        <div class="back_btn right">
          <%= link_to "戻る", shops_path, class: "arrow2" %>
        </div>
        <hr>
        <div class="content_box_detail">
          <div class="image_box pa-b-30">
            <% if @shop.shop_images.present? %>
              <div class="shop_image-box center ma-b-10">
                <%= image_tag @shop.shop_images[0].file_name.thumb_width.to_s, class:"wid-50" %>
              </div>
              <div class="shop_image-box center">
                <% if @shop.shop_images.count >= 2 %>
                  <% @shop.not_main_images.each do |image| %>
                    <%= image_tag image.file_name.thumb100.to_s %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="shop_image-box center ma-b-10 border">
                <%= image_tag "noimage.png", class:"wid-50" %>
              </div>
            <% end %>
            <div class="add_btn ma-t-30 right">
              <%= link_to "商品画像を追加・編集する", shop_shop_images_path(@shop) %>
            </div>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th>店舗名</th>
                <td><%= @shop.name %></td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td><%= @shop.phone_number %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @shop.email %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td>
                  〒<%= @shop.postal_code %><br>
                  <%= @shop.full_address %>
                </td>
              </tr>
              <tr>
                <th>営業時間</th>
                <% if @shop.business_hours.present? %>
                  <td>
                    <% @shop.business_hours.each do |business_hour| %>
                      <p>
                        <%= business_hour.job_time %><br>
                        <%= business_hour.opening.strftime("%H:%M") %>〜<%= business_hour.closing.strftime("%H:%M") %><br>
                        （L.O <%= business_hour.last_order.strftime("%H:%M") %>）</p>
                    <% end %>
                    <p class="right"><%= link_to "営業時間を管理する", shop_business_hours_path(@shop) %></p>
                  </td>
                <% else %>
                  <td>
                    <p>まだ、営業時間が登録されていません</p>
                    <p class="right"><%= link_to "営業時間を管理する", shop_business_hours_path(@shop) %></p>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th>検索キーワード</th>
                <td>
                  <% if @shop.shop_tags.present? %>
                    <% @shop.shop_tags.each do |tag| %>
                      <span class="ma-r-10"><%= tag.content %></span>
                    <% end %>
                    <p class="right"><%= link_to "キーワードを管理する", new_shop_shop_tag_path(@shop) %></p>
                  <% else %>
                    <p>検索キーワードが設定されていません</p>
                    <p class="right"><%= link_to "キーワードを管理する", new_shop_shop_tag_path(@shop) %></p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>店舗紹介文</th>
                <td style="overflow-wrap: break-word;"><%= introduction(@shop.introduction) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="return_btn center ma-b-30">
          <%= link_to "編集する", edit_shop_path(@shop.id), class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>