<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5><%= link_to "本日の受注状況", today_index_shops_orders_path %></h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-borderless">
            <tbody>
              <tr class="pointer" data-href="#">
                <td>新規注文</td>
                <td><%= today_order_count(@new_orders) %></td>
              </tr>
              <tr>
                <td>調理中</td>
                <td><%= today_order_count(@making_orders) %></td>
              </tr>
              <tr>
                <td>完了</td>
                <td><%= today_order_count(@fix_orders) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-8" style="padding:0">
      <div class="content_box">
        <h5>売上</h5>
        <div class="content_box_detail center">
          <hr>
            <div class="row">
              <div class="col-4">
                <h4>
                  ¥<%= @month_sales_money.to_s(:delimited) %>
                  <span class="ma-l-10 ma-r-10">/</span>
                  <%= @month_sales_count %>件
                </h4>
                <p>今月の売上金額/売上件数</p>
              </div>
              <div class="col-4">
                <h4>
                  ¥<%= @today_sales_money.to_s(:delimited) %>
                  <span class="ma-l-10 ma-r-10">/</span>
                  <%= @today_sales_count %>件
                </h4>
                <p>今日の売上金額/売上件数</p>
              </div>
              <div class="col-4">
                <h4>
                  ¥<%= @yesterday_sales_money.to_s(:delimited) %>
                  <span class="ma-l-10 ma-r-10">/</span>
                  <%= @yesterday_sales_count %>件
                </h4>
                <p>前日の売上金額/売上件数</p>
              </div>
            </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>店舗情報</h5>
        <hr>
        <div class="content_box_detail">
          <div class="shop_info-box">
            <div class="shop_name-box">
              <span class="font-30"><%= @shop.name %></span>
            </div>
            <div class="shop_info-box">
              <div class="address">
                <p>
                  〒<%= @shop.postal_code %><br>
                  <%= @shop.full_address %>
                </p>
              </div>
              <div class="phone_number">
                <p>電話番号：<%= @shop.phone_number %></p>
              </div>
              <div class="introduction">
                <p>店紹介文</p>
                <%= @shop.introduction %>
              </div>
              <% if @shop.url.present? %>
                <div class="url">
                  <p>お店URL：<%= @shop.url %></p>
                </div>
              <% end %>
            </div>
            <div class="shop_edit wid-40 ma-l pa-t-30">
              <%= link_to "編集する", edit_shop_path(current_shop), class:"btn btn-primary wid-100" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>商品情報</h5>
        <hr>
        <div class="content_box_detail scroll-box">
          <table class="table table-hover table-borderless">
            <tbody>
              <% if @shop.menus.present? %>
                <% @shop.menus.each do |menu| %>
                  <tr class="pointer" data-href="<%= shops_menu_path(menu) %>">
                    <td><%= menu.name %></td>
                    <td>¥<%= menu.price %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>まだメニューが登録されていません</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>お知らせ</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-hover table-borderless">
            <tbody>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>