<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="shop_box">
        <% if shop_signed_in? %>
          <div class="shop_edit wid-40 ma-l pa-t-30">
            <%= link_to "店舗情報を編集する", edit_shop_path(current_shop), class:"btn btn-outline-primary wid-100" %>
          </div>
        <% end %>
        <div class="shop_info-box">
          <div class="shop_name-box">
            <span class="font-30"><%= @shop.name %></span>
          </div>
          <div class="shop_info-box">
            <div class="address">
              <p>
                〒<%= @shop.postal_code %><br>
                <%= @shop.full_address %>
              </p>
            </div>
            <div class="phone_number">
              <p>電話番号：<%= @shop.phone_number %></p>
            </div>
            <div class="introduction">
              <p>店紹介文</p>
              <%= @shop.introduction %>
            </div>
            <% if @shop.url.present? %>
              <div class="url">
                <p>お店URL：<%= @shop.url %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
