<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>登録メニュー一覧</h5>
        <div class="content_box_detail">
          <div class="new_btn right ma-b-20">
            <%= link_to "メニュー追加", new_menu_path, class: "btn btn-primary" %>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="10%"></th>
                <th>商品名</th>
                <th>価格</th>
                <th>手数料</th>
                <th>販売</th>
              </tr>
            </thead>
            <tbody>
              <% if @menus.present? %>
                <% if @food_menus.present? %>
                  <tr class="table-active">
                    <th colspan = 5>フードメニュー</th>
                  </tr>
                  <% @food_menus.each do |menu| %>
                    <tr class="pointer" data-href="<%= shops_menu_path(menu) %>">
                      <td><%= image_tag menu.menu_images[0].file_name.thumb50.to_s if menu.menu_images.present? %></td>
                      <td><%= menu.name %></td>
                      <td>¥<%= menu.price %></td>
                      <td><%= menu.fee %>%</td>
                      <td>
                        <% if menu.is_active? %>
                          販売中
                        <% else %>
                          <span class="red">販売停止中</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <% if @drink_menus.present? %>
                  <tr class="table-active">
                    <th colspan = 5>ドリンクメニュー</th>
                  </tr>
                  <% @drink_menus.each do |menu| %>
                    <tr class="pointer" data-href="<%= shops_menu_path(menu) %>">
                      <td><%= image_tag menu.menu_images[0].file_name.thumb50.to_s if menu.menu_images.present? %></td>
                      <td><%= menu.name %></td>
                      <td>¥<%= menu.price %></td>
                      <td><%= menu.fee %>%</td>
                      <td>
                        <% if menu.is_active? %>
                          販売中
                        <% else %>
                          <span class="red">販売停止中</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <% if @dessert_menus.present? %>
                  <tr class="table-active">
                    <th colspan = 5>デザートメニュー</th>
                  </tr>
                  <% @dessert_menus.each do |menu| %>
                    <tr class="pointer" data-href="<%= shops_menu_path(menu) %>">
                      <td><%= image_tag menu.menu_images[0].file_name.thumb50.to_s if menu.menu_images.present? %></td>
                      <td><%= menu.name %></td>
                      <td>¥<%= menu.price %></td>
                      <td><%= menu.fee %>%</td>
                      <td>
                        <% if menu.is_active? %>
                          販売中
                        <% else %>
                          <span class="red">販売停止中</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr>
                  <td>
                    登録されたメニューがありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>