<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー一覧</h5>
        <div class="content_box_detail">
          <div class="new_btn right ma-b-20">
            <%= link_to "メニュー追加", new_menu_path, class: "btn btn-primary" %>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>商品名</th>
                <th>価格</th>
                <th width="10%"></th>
                <th width="10%"></th>
              </tr>
            </thead>
            <tbody>
              <% if @menus.present? %>
                <% @menus.each do |menu| %>
                  <tr class="pointer" data-href="<%= shops_menu_path(menu) %>">
                    <td><%= menu.name %></td>
                    <td>¥<%= menu.price %></td>
                    <td><%= link_to "編集", edit_menu_path(menu) %></td>
                    <td><%= link_to "削除", menu_path(menu), method: :delete %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>
                    登録されたメニューがありません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>