<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="content_box_detail">
          <div class="image_box pa-b-30">
            <% if @menu.menu_images.present? %>
              <div class="menu_image-box center ma-b-10">
                <%= image_tag @menu.menu_images[0].file_name.to_s, class:"wid-50" %>
              </div>
              <div class="menu_image-box center">
                <% if @menu.menu_images.count >= 2 %>
                  <% @menu.not_main_images.each do |image| %>
                    <%= image_tag image.file_name.thumb100.to_s %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="menu_image-box center ma-b-10 border">
                <%= image_tag "noimage.png", class:"wid-50" %>
              </div>
            <% end %>
            <div class="add_btn center ma-t-30">
              <%= link_to "商品画像を編集", menu_menu_images_path(@menu), class: "btn btn-outline-primary" %>
            </div>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th width="30%">商品名</th>
                <td><%= @menu.name %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>¥<%= @menu.price %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td><%= @menu.fee %>％</td>
              </tr>
              <tr>
                <th>販売状態</th>
                <td>
                  <% if @menu.is_active? %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>検索キーワード</th>
                <td>
                  <% if @menu.menu_tags.present? %>
                    <% @menu.menu_tags.each do |tag| %>
                      <span class="badge badge-pill badge-secondary"><%= tag.content %></span>
                    <% end %>
                    <br><span class="badge badge-pill badge-primary"><%= link_to "追加・編集", new_menu_menu_tag_path(@menu), class: "white" %></span>
                  <% else %>
                    <p>検索キーワードが設定されていません</p>
                    <span class="badge badge-pill badge-primary"><%= link_to "追加・編集", new_menu_menu_tag_path(@menu), class: "white" %></span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>商品紹介文</th>
                <td><%= @menu.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="return_btn center">
          <%= link_to "編集する", edit_menu_path(@menu.id), class: "btn btn-outline-success" %>
          <%= link_to "一覧へ", shops_menus_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>