<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table">
            <thead>
              <tr>
                <th width="30%">商品名</th>
                <td><%= @menu.name %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td><%= @menu.price %></td>
              </tr>
              <tr>
                <th>セール価格</th>
                <td><%= @menu.special_price %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td><%= @menu.fee %></td>
              </tr>
              <tr>
                <th>セール状態</th>
                <td>
                  <% if @menu.is_saling? %>
                    キャンペーン中
                  <% else %>
                    通常販売
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>販売状態</th>
                <td>
                  <% if @menu.is_active? %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>商品紹介文</th>
                <td><%= @menu.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="order_btn center">
          <%= link_to "メニュー情報を編集する", edit_menu_path(@menu.id), class: "btn btn-outline-danger" %>
        </div>
        <div class="return_btn center">
          <%= link_to "ホームへ戻る", shop_path(current_shop), class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>