<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>メニュー詳細</h5>
        <div class="back_btn right">
          <%= link_to "戻る", shops_menus_path, class: "arrow2" %>
        </div>
        <hr>
        <div class="content_box_detail">
          <div class="image_box pa-b-30">
            <% if @menu.menu_images.present? %>
              <div class="menu_image-box center ma-b-10">
                <%= image_tag @menu.main_image.file_name.thumb_width.to_s, class:"wid-100" %>
              </div>
              <div class="menu_image-box center">
                <% if @menu.menu_images.count >= 2 %>
                  <% @menu.not_main_images.each do |image| %>
                    <%= image_tag image.file_name.thumb100.to_s %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="menu_image-box center ma-b-10 border">
                <%= image_tag "noimage.png", class:"wid-50" %>
              </div>
            <% end %>
            <div class="add_btn ma-t-30 right">
              <%= link_to "商品画像を追加・編集する", menu_menu_images_path(@menu) %>
            </div>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th width="30%">商品名</th>
                <td><%= @menu.name %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>¥<%= price(@menu.price) %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td><%= @menu.fee %>％</td>
              </tr>
              <tr>
                <th>販売状態</th>
                <td>
                  <% if @menu.is_active? %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>検索キーワード</th>
                <td>
                  <% if @menu.menu_tags.present? %>
                    <% @menu.menu_tags.each do |tag| %>
                      <span class="ma-r-10"><%= tag.content %></span>
                    <% end %>
                    <p class="right"><%= link_to "キーワードを管理する", new_menu_menu_tag_path(@menu) %></p>
                  <% else %>
                    <p>検索キーワードが設定されていません</p>
                    <p class="right"><%= link_to "キーワードを管理する", new_menu_menu_tag_path(@menu) %></p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>商品紹介文</th>
                <td style="overflow-wrap: break-word;"><%= introduction(@menu.introduction) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="return_btn center ma-b-30">
          <%= link_to "編集する", edit_menu_path(@menu.id), class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>