<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-8">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="content_box_detail">
          <div class="image_box">
            <% if @menu.menu_images.present? %>
              <div class="menu_image-box center ma-b-10">
                <%= image_tag @menu.menu_images[0].file_name.url, class:"wid-50" %>
              </div>
              <div class="menu_image-box center">
                <% @menu.menu_images.each do |image| %>
                  <%= image_tag image.file_name.thumb100.to_s %>
                <% end %>
              </div>
            <% end %>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th width="30%">商品名</th>
                <td><%= @menu.name %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>¥<%= @menu.price %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td><%= @menu.fee %>％</td>
              </tr>
              <tr>
                <th>販売状態</th>
                <td>
                  <% if @menu.is_active? %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>タグ</th>
                <td>
                  <% if @menu.menu_tags.present? %>
                    <% @menu.menu_tags.each do |tag| %>
                      <span class="badge badge-pill badge-secondary"><%= tag.content %>|<%= link_to "x", menu_menu_tag_path(@menu, tag), method: :delete, class:"badge badge-pill badge-secondary" %></span>
                    <% end %>
                  <% else %>
                    <p>タグが設定されていません</p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>商品紹介文</th>
                <td><%= @menu.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="return_btn center">
          <%= link_to "一覧へ", shops_menus_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="width_box">
        <h5>編集オプション</h5>
        <hr>
        <%= form_for @menu_tag, url: menu_menu_tags_path(@menu) do |f|  %>
          <div class="form-row">
            <div class="form-group col-md-8">
              <%= f.text_field :content, placeholder: "タグを入力", class:"form-control" %>
            </div>
            <div class="form-group col-md-4">
              <%= f.submit "追加", class:"btn btn-primary" %>
            </div>
          </div>
        <% end %>
        <div class="edit_btn center ma-t-30">
          <%= link_to "編集する", edit_menu_path(@menu.id), class: "btn btn-outline-success" %>
        </div>
        <div class="add_btn center ma-t-30">
          <%= link_to "商品画像を編集する", menu_menu_images_path(@menu), class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>