<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h2 class="center">ログイン</h2>
        <hr>
        <div class="row ma-y-30">
          <div class="col-md-12 center">
            <h6 class="ma-b-20">SNS連携</h6>
            <a href="/users/auth/facebook">
              <%= image_tag "f_logo.png", size:"40x40", class:"ma-x-20" %>
            </a>
            <a href="/users/auth/google_oauth2">
              <%= image_tag "g_logo.png", size:"40x40", class:"ma-x-20" %>
            </a>
          </div>
        </div>

        <div class="title-border">または</div>

        <h6 class="ma-y-20 center">メールアドレスでログイン</h6>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "入力してください", class:"form-under" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "入力してください", class:"form-under" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "ログイン状態を維持する" %>
            </div>
          <% end %>

          <div class="actions center">
            <%= f.submit "ログイン", class: "button-fill" %>
          </div>
        <% end %>

        <div class="link_box ma-t-30">
          <%= link_to "会員登録がまだの方はこちら（新規登録）", new_registration_path(resource_name), class: "font-10 ma-y-10" %><br />
          <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name), class: "font-10 ma-y-10" %><br />
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "本人確認用のメールが届いていない方はこちら", new_confirmation_path(resource_name), class: "font-10 ma-y-10" %><br />
          <% end %>
        </div>

        <div class="back_btn right">
          <%= link_to "戻る", :back, class: "arrow2" %>
        </div>

      </div>
        
    </div>
  </div>
</div>