<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h4 class="center">基本情報編集</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", root_path, class: "font-20" %>
        </div>
        <hr>
        <%= form_for @user do |f| %>
          <div class="field">
            <%= f.label :last_name, "氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-under", placeholder: "苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-under", placeholder: "名前" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :kana_last_name, "カナ氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", class:"form-under", placeholder: "カナ苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", class:"form-under", placeholder: "カナ名前" %>
              </div>
            </div>
          </div>

          <div class="field ma-b-50">
            <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br />
            <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-under", placeholder: "例:08012345678" %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-under" %>
          </div>

          <div class="actions center">
            <%= f.submit "編集", class: "button-fill" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-4">
      <div class="content_box">
        <div class="user_edit-sidebar wid-50 ma-a">
          <%= link_to "パスワード変更", edit_user_registration_path, class:"btn btn-outline-info wid-100 ma-y-10 btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>