<div class="container-fluid background">
  <div class="row">
    <div class="col-lg-12">
      <div class="form_box">
        <h3 class="center">店舗検索キーワード追加</h3>
        <hr>
        <%= form_for @shop_tag, url: shop_shop_tags_path(current_shop) do |f|  %>
          <%= f.hidden_field :shop_id, value: current_shop.id %>
          <div class="field">
            <%= f.text_field :content, class: "form-control", placeholder: "検索されたいキーワードを入力" %>
          </div>

          <div class="actions center">
            <%= f.submit "追加", class: "button-fill" %>
          </div>
        <% end %>
        <hr>
        <h5>登録済み検索キーワード</h5>
        <% if @shop.shop_tags.present? %>
          <div class="shop_tag-box">
            <% @shop.shop_tags.each do |tag| %>
              <%= link_to tag.content, edit_shop_shop_tag_path(current_shop, tag.id), class:"ma-x-10" %>
            <% end %>
          </div>
        <% else %>
          <div class="shop_tag-box center">
            <p>キーワードが登録されていません</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>