<div class="container-fluid background">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="form_box">
        <h3 class="center">画像編集</h3>
        <hr>
        <%= form_for @shop_tag, url: shop_shop_tags_path(current_shop) do |f|  %>
          <%= f.hidden_field :shop_id, value: current_shop.id %>
          <div class="field">
            <%= f.label :content, "タグ" %><br />
            <%= f.text_field :content %>
          </div>

          <div class="actions center">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>