<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h5>『<%= @shop.name %>』の画像一覧</h5>
        <div class="back_btn right">
          <%= link_to "topに戻る", shop_path(@shop), class: "arrow2" %>
        </div>
        <hr>
        <% if @shop_images.present? %>
          <% 4.times do |i| %>
            <div class="content_box_detail">
              <% if @shop_images[i].present? %>
                <% if @shop_images[i].is_main? %>
                  <h6 class="center ma-b-20">〜メイン画像〜</h6>
                <% end %>
                <%= image_tag @shop_images[i].file_name.thumb_width.to_s, class: "wid-100" %>
                <div class="edit_btn ma-t-50">
                  <%= link_to "この画像を編集する", edit_shop_shop_image_path(@shop, @shop_images[i]), class: "btn btn-primary" %>
                  <% unless @shop_images[i] == @main_image %>
                    <%= link_to "この画像を削除する", shop_shop_image_path(@shop, @shop_images[i]), method: :delete, class: "btn btn-danger" %>
                  <% end %>
                </div>
              <% else %>
                <%= image_tag "noimage.png", class:"wid-100" %>
                <div class="add_btn ma-t-50">
                  <%= link_to "画像を追加する", new_shop_shop_image_path(@shop), class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
            <hr>
          <% end %>
        <% else %>
          <% 4.times do |i| %>
            <div class="content_box_detail">
              <%= image_tag "noimage.png", class:"wid-100" %>
              <div class="add_btn ma-t-50">
                <%= link_to "画像を追加する", new_shop_shop_image_path(@shop), class: "btn btn-primary" %>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>