<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h3 class="center">営業時間</h3>
        <div class="back_btn right">
          <%= link_to "戻る", shop_path(current_shop), class: "arrow2" %>
        </div>
        <hr>
        <% if @business_hours.present? %>
          <% @business_hours.each do |business_hour| %>
            <div class="row content_box_detail">
              <div class="col-md-8">
                <h5><%= business_hour.job_time %></h5>
                <p>
                  <%= business_hour.opening.strftime("%H:%M") %>
                  <span class="ma-x-20">〜</span>
                  <%= business_hour.closing.strftime("%H:%M") %>（L.O <%= business_hour.last_order.strftime("%H:%M") %>）
                </p>
              </div>
              <div class="col-md-4">
                <div class="edit_btn">
                  <%= link_to "編集する", edit_shop_business_hour_path(@shop, business_hour), class: "btn btn-primary btn-sm" %>
                  <%= link_to "削除する", shop_business_hour_path(@shop, business_hour), method: :delete, class: "btn btn-danger btn-sm" %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
          <p class="right ma-b-50"><%= link_to "営業時間を追加する", new_shop_business_hour_path(current_shop) %></p>
        <% else %>
          <div class="content_box_detail center">
            <h5>まだ営業時間が設定されていません。</h5>
            <p class="right"><%= link_to "営業時間を追加する", new_shop_business_hour_path(current_shop) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>