<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="content_box">
        <h4 class="center">営業時間</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", shop_path(@shop),class:"font-20" %>
        </div>
        <hr>
        <% if @business_hours.present? %>
          <% @business_hours.each do |business_hour| %>
            <div class="row content_box_detail">
              <div class="col-8">
                <h5><%= business_hour.job_time %></h5>
                <p>
                  <%= business_hour.opening.strftime("%H:%M") %>
                  <span class="ma-x-10">〜</span>
                  <%= business_hour.closing.strftime("%H:%M") %><br>
                  （L.O <%= business_hour.last_order.strftime("%H:%M") %>）
                </p>
              </div>
              <div class="col-4">
                <div class="edit_btn ma-b-10 center">
                  <%= link_to "編集", edit_shop_business_hour_path(@shop, business_hour), class: "btn btn-primary btn-sm wid-80" %>
                </div>
                <div class="destroy_btn center">
                  <%= link_to "削除", shop_business_hour_path(@shop, business_hour), method: :delete, class: "btn btn-danger btn-sm wid-80" %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
          <p class="right ma-b-50"><%= link_to "営業時間を追加する", new_shop_business_hour_path(@shop) %></p>
        <% else %>
          <div class="content_box_detail center">
            <h5>まだ営業時間が設定されていません。</h5>
            <p class="right"><%= link_to "営業時間を追加する", new_shop_business_hour_path(@shop) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>