<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form_box">
        <h4 class="center">営業時間設定</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", shop_path(@shop), class: "font-20" %>
        </div>
        <hr>
        <%= form_for @business_hour, url: shop_business_hours_path(@shop) do |f|  %>
          <div class="field">
            <%= f.label :job_time, "営業時間帯" %><br />
            <%= f.select :job_time, BusinessHour.job_times.keys, {include_blank: "選択してください"}, {class: "custom-select"} %>
          </div>

          <div class="field">
            <div class="row">
              <div class="col-sm-4">
                <%= f.label :opening, "開店時間" %><br>
                <%= f.time_select :opening, {prompt:true} %>
              </div>
              <div class="col-sm-4">
                <%= f.label :closing, "閉店時間" %><br>
                <%= f.time_select :closing, {prompt:true} %>
              </div>
              <div class="col-sm-4">
                <%= f.label :last_order, "ラストオーダー" %><br>
                <%= f.time_select :last_order, {prompt:true} %>
              </div>
            </div>
          </div>

          <div class="actions center">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
