<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h3 class="center">営業時間設定</h3>
        <div class="back_btn right">
          <%= link_to "戻る", shop_path(@shop), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @business_hour, url: shop_business_hours_path(@shop) do |f|  %>
          <div class="field">
            <%= f.label :job_time, "営業時間帯" %><br />
            <%= f.select :job_time, BusinessHour.job_times.keys, {include_blank: "選択してください"}, {class: "custom-select"} %>
          </div>

          <div class="field">
            <%= f.label :opening, "開店時間" %><br>
            <%= f.time_select :opening, {prompt:true, ignore_data:true}, class: "wid-20" %>
          </div>

          <div class="field">
            <%= f.label :closing, "閉店時間" %><br>
            <%= f.time_select :closing, {prompt:true, ignore_data:true}, class: "wid-20" %>
          </div>

          <div class="field">
            <%= f.label :last_order, "ラストオーダー" %><br>
            <%= f.time_select :last_order, {prompt:true, ignore_data:true}, class: "wid-20" %>
          </div>

          <div class="actions center">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
