<div class="container-fluid">
  <div class="row" style="padding:0;">
    <div class="image"><%= image_tag "LP/main_lp.jpg", class: "wid-100 main-image" %></div>
  </div>
</div>

<div class="container">
  <div class="row ma-t-50">
    <div class="col-md-6 bottomin">
      <div class="lp-text_box__concept center">
        <div class="lp-text_content_top">
          <p class="left-border">CONCEPT</p>
          <h4>「おいしい」を、持ち帰ろう。</h4>
          <p class="ma-b-20">〜テイクアウトはこれからの外食の形〜</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="lp-image_box rightin">
        <div class="image1"></div>
      </div>
    </div>
  </div>
  <div class="row ma-t-30">
    <div class="col-md-12">
      <div class="text_box1 bottomin">
        <p>
          2020年を一言で表すなら、『コロナ』<br>
          コロナは、様々な分野に大きな影響を与えました。その際たる例が食生活なのではないでしょうか。<br>
          今まで通り、レストランで食事ができなくなり、自宅で食事をするということが増えました。<br>
          自分で料理をしたりコンビニで買ったりと自宅で食べる方法は様々ですが、その中の一つにテイクアウトがあります。<br>
          ”お持ち帰り = ファストフード”という概念はなくなりつつあり、普通の飲食店もテイクアウト対応のところが増えてきました。<br>
          だからこそ、もっとテイクアウトを身近に利用できるように、テイクアウトしているお店を一覧でみて、注文まで行うことができるサービスを提供いたします！
        </p>
      </div>
    </div>
  </div>

  <div class="row ma-t-50">
    <div class="col-md-5">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content">
          <p class="bottom_border">PROMISE１</p>
          <h5 class="ma-b-20">テイクアウトをもっと身近に</h5>
          <p>
            テイクアウトはハンバーガーなどのファストフードしか利用したことがないという人も多いのではないだろうか。<br>
            今や、ラーメンでもテイクアウトできる時代。「Pickup」では、どこのお店のどんなメニューがテイクアウトできるのか一目でわかるため、テイクアウトをより身近に感じることができるはずです。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="image2 rightin"></div>
    </div>
  </div>

  <div class="row ma-t-50">
    <div class="col-md-5 order-md-2">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content">
          <p class="bottom_border">PROMISE２</p>
          <h5 class="ma-b-20">注文をスマートに</h5>
          <p>
            サイトで注文したい商品を見つけたら、店舗に電話して、、、。
            そういった煩わしさは一切不要！その場でサイトから注文するだけ。
            注文メールが店舗に送信されます。<br>
            ※注文時間の店舗の状況により、キャンセルされる場合がございます。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-7 order-md-1">
      <div class="image3 leftin"></div>
    </div>
  </div>

  <div class="row ma-t-50">
    <div class="col-md-5">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content">
          <p class="bottom_border">PROMISE３</p>
          <h5 class="ma-b-20">地方の飲食店を盛り上げる</h5>
          <p>
            自分の住んでいる地域の飲食店をみなさんで盛り上げていきませんか？<br>
            その地域で飲食店が盛り上がればどんどん新しいお店が増え、街全体が活気付いていきます。<br>
            まずは飲食の分野からみんなで地元を盛り上げましょう！！！
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="image4 rightin"></div>
    </div>
  </div>
</div>
<div class="container" style="padding:0">
  <div class="row">
    <div class="col-md-12">
      <div class="image fadein"><%= image_tag "LP/process.jpg", class: "wid-100" %></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content_top">
          <p class="left-border">PRODUCT</p>
          <h4>テイクアウト専用注文サイト</h4>
          <p>
            Pickupは、テイクアウトの注文専用に作られたWebアプリケーションです。<br>
            飲食店を探す目的にも使用することはできますが、「そうだ、テイクアウトしよう」と思った時に効率的にテイクアウト可能な店舗を見つけ、料理を注文することができます。
          </p>
        </div>
        <div class="lp-btn_box wid-100 center ma-t-30">
          <%= link_to "Pickupを始める", new_user_registration_path, class: "lp-button-fill wid-60" %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="image5 upin"></div>
    </div>
  </div>

  <div class="row ma-t-50">
    <div class="col-md-6">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content">
          <p class="bottom_border">POINT１</p>
          <h5 class="ma-b-20">テイクアウト可能なお店を探せる</h5>
          <p>
            まず食べたいものを探して、お店を決めて、テイクアウトに対応しているか確認します。
            そのような行為が一切不要になります。<br>
            なぜなら、このサイトに掲載しているお店は全てテイクアウト可能だからです。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image6 rightin"></div>
    </div>
  </div>

  <div class="row ma-t-50">
    <div class="col-md-6 order-md-2">
      <div class="lp-text_box bottomin">
        <div class="lp-text_content">
          <p class="bottom_border">POINT２</p>
          <h5 class="ma-b-20">電話での連絡が不要に</h5>
          <p>
            テイクアウトで待たずに商品を受け取るためには、事前に注文しなければなりません。<br>
            電話での注文が苦手な方や、お店の忙しい時間帯に電話するのが申し訳ないといつもためらってしまう人も安心。<br>
            Pickupは、サイトの中で注文まで可能なため電話で連絡する必要がありません。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="image7 rightin"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ma-y-50" style="padding:0;">
    <div class="image leftin"><%= image_tag "LP/soup.jpg", class: "wid-100" %></div>
  </div>
</div>

<div class="container">
  <div class="row ma-t-100">
    <div class="col-md-12">
      <div class="leftin">
        <p class="left-border">COSTMER'S VOICE</p>
        <h3>利用者の声</h3>
      </div>
    </div>
  </div>
  <div class="row ma-t-30">
    <div class="col-md-4 ma-t-30 upin">
      <h5 class="ma-b-10">注文が楽になりました</h5>
      <p>
        今まで電話で注文をしていましたが、忙しかったら申し訳ないなと思いながら連絡していました。
        そんな時にこのサイトから注文ができるので、気にしなくてよくなり大変助かっています。
      </p>
      <p class="right">
        30代　女性
      </p>
    </div>
    <div class="col-md-4 ma-t-30 upin">
      <h5 class="ma-b-10">テイクアウトできる店舗がすぐ見つかる</h5>
      <p>
        今まで、特定のお店でしかテイクアウトしていませんでした。その理由が、どこのお店がテイクアウトできるのかわからなかったからです。
        このサイトは、掲載されている商品全てがテイクアウトできるので簡単に探せます。
      </p>
      <p class="right">
        20代　男性
      </p>
    </div>
    <div class="col-md-4 ma-t-30 upin">
      <h5 class="ma-b-10">電話嫌いだから助かる</h5>
      <p>
        テイクアウトをあまりしたことがなかったのですが、その1番の理由が電話です。
        店舗に行ってから注文では待ち時間が長くなるし、電話は嫌いなのでテイクアウトをすることがなかったのですが
        このサイトを見つけてからは、よく利用しています。
      </p>
    </div>

  </div>

  <div class="row ma-t-50 over">
    <div class="col-md-12">
      <div class="title">
        <h2>SNS</h2>
      </div>
      <div class="center">
        <h4>準備中</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding:0;">
  <div class="row">
    <div class="col-md-12">
      <div class="fix-box right">
        <%= link_to "Pickupを始める", new_user_registration_path, class: "btn btn-success btn-sm", style: "opacity:1;" %>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script>
    ScrollReveal().reveal('.text2', {
    duration: 1600,
    scale: 4,
    reset: false
    });

    ScrollReveal().reveal('.leftin', {
    duration: 2000,
    origin: 'left',
    distance: '50px',
    reset: false
    });

    ScrollReveal().reveal('.rightin', {
    duration: 2000,
    origin: 'right',
    distance: '50px',
    reset: false
    });

    ScrollReveal().reveal('.topin', {
    duration: 2000,
    origin: 'top',
    distance: '50px',
    reset: false
    });
    ScrollReveal().reveal('.bottomin', {
    duration: 2000,
    origin: 'bottom',
    distance: '50px',
    reset: false
    });

    ScrollReveal().reveal('.upin', {
    duration: 2000,
    scale: 0.1,
    reset: false
    });

    ScrollReveal().reveal('.fadein', {
    duration: 2000,
    reset: false
    });

  </script>