<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
	<%= image_tag "main_img.jpg", alt: "" %>
</div>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <% if @menus.present? %>
    <div class="gridWrapperTitle">
      <h6>おすすめ商品</h6>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-md-3">
      <% @menus.each do |menu| %>
        <div class="col mb-4">
          <div class="card scale-box" data-toggle="modal" data-target="#modal<%= menu.id %>">
            <% if menu.menu_images.present? %>
              <%= image_tag menu.main_image.file_name.thumb_width.to_s, class:"scale-img wid-100" %>
            <% else %>
              <%= image_tag "noimage.png", class: "wid-100" %>
            <% end %>
            <div class="card-body">
              <p class="c-title"><%= menu.name %></p>
              <p class="c-subtitle">【<%= menu.shop.name %>】</p>
              <p class="c-text right">
                ¥<%= price(menu.price) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="non_menu center">
      <h4>登録された商品がありません</h4>
    </div>
  <% end %>
  
  <% if @menus.present? %>
    <div class="gridWrapperTitle">
      <h6>人気メニュー</h6>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 row-cols-md-4 row-cols-sm-3">
      <% @menus.each do |menu| %>
        <div class="col mb-4">
          <div class="card scale-box" data-toggle="modal" data-target="#modal<%= menu.id %>">
            <% if menu.menu_images.present? %>
              <%= image_tag menu.main_image.file_name.thumb_width.to_s, class:"scale-img wid-100" %>
            <% else %>
              <%= image_tag "noimage.png", class: "wid-100" %>
            <% end %>
            <div class="card-body">
              <p class="c-title"><%= menu.name %></p>
              <p class="c-subtitle">【<%= menu.shop.name %>】</p>
              <p class="c-text right">
                ¥<%= price(menu.price) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @shops.present? %>
    <div class="gridWrapperTitle">
      <h6>人気レストラン</h6>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-md-3">
      <% @shops.each do |shop| %>
        <%= link_to users_shop_path(shop), class: "black" do %>
          <div class="col mb-4">
            <%= image_tag shop.main_image.file_name.thumb_width.to_s, class:"wid-100", style: "padding:1px;" %>
            <div class="card-img-overlay grad">
              <h6><%= shop.name %></h6>
              <p class="c-text">
                <% if shop.shop_tags.present? %>
                  <% shop.shop_tags.each do |tag| %>
                    <span><%= tag.content %></span>
                  <% end %>
                <% else %>
                  検索キーワードがありません
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @menus.present? %>
    <% @menus.each do |menu| %>
      <%= render partial: "menus/modal", locals: {menu: menu} %>
    <% end %>
  <% end %>
</div>

