<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
	<%= image_tag "main_img.jpg", alt: "" %>
</div>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <div class="row right ma-b-20">
    <div class="col-md-12">
      <%= link_to "店舗を検索したい場合", users_shops_path %>
    </div>
  </div>
  <% if @recommend_menus.present? %>
    <div class="gridWrapperTitle">
      <h6>おすすめ商品</h6>
    </div>
    <%= render partial: "menus/recommend_menus", locals:{menus: @recommend_menus} %>
  <% else %>
    <div class="non_menu center">
      <h4>登録された商品がありません</h4>
    </div>
  <% end %>
  
  <% if @popular_menus.present? %>
    <div class="gridWrapperTitle">
      <h6>人気メニュー</h6>
    </div>
    <%= render partial: "menus/menus", locals:{menus: @popular_menus} %>
    <div class="row right ma-b-20">
      <div class="col-md-12">
        <%= link_to "商品をもっと見る", menus_path, class: "arrow2" %>
      </div>
    </div>
  <% end %>

  <% if @popular_shops.present? %>
    <div class="gridWrapperTitle">
      <h6>人気レストラン</h6>
    </div>
    <%= render partial: "users/shops/shops", locals:{shops: @popular_shops} %>
    <div class="row right ma-b-20">
      <div class="col-md-12">
        <%= link_to "お店をもっと見る", users_shops_path, class: "arrow2" %>
      </div>
    </div>
  <% end %>

</div>