<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
  <div class="inner">
		<%= image_tag "main_img.jpg", alt: "", size:"940x300" %>
	</div>
</div>
<!-- / メイン画像 -->
<div class="search_bar">
	<input type="text" name="key" placeholder="キーワードの入力">
	<input type="submit" value="検索">
</div>

<div id="wrapper">
	<!-- 4カラム -->
  <section class="gridWrapper" id="recommend_menu">
		<div class="gridWrapperTitle">
			<h6>おすすめ商品</h6>
		</div>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid4 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		
		
	</section>
	<!-- / 4カラム -->

	<section class="gridWrapper" id="popular_menu">
		<div class="gridWrapperTitle">
			<h6>人気メニュー</h6>
		</div>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
		<article class="grid5 grid">
			<div class="scale-box">
				<%= image_tag "noimage.png", class:"scale-img wid-100", style:"overflow:hidden;" %>
				<div class="card-body info">
					<h6 class="menu_name">商品名</h6>
					<span class="menu_info">値段</span>
				</div>
			</div>
		</article>
	
		
	</section>
	<!-- / 4カラム -->
      
	<section class="content">
		<h3 class="heading">ホームページサンプル株式会社の取り組み</h3>
		<article>
			<img src="images/sample2.jpg" width="320" height="240" alt="" class="alignleft frame">
			<p>革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
			<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす。革新的な技術で世の中を動かす。</p>
      <p>革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
			<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす。革新的な技術で世の中を動かす。</p>
		</article>
	</section>

</div>
<!-- / WRAPPER -->

</body>
</html>