<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー一覧</h5>
        <div class="content_box_detail">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>氏名</th>
                <th>電話番号</th>
                <th>メールアドレス</th>
                <th>利用回数</th>
                <th width="10%"></th>
                <th width="10%"></th>
              </tr>
            </thead>
            <tbody>
              <% if @users.present? %>
                <% @users.each do |user| %>
                  <tr class="pointer" data-href="<%= admins_user_path(user) %>">
                    <td><%= user.full_name %></td>
                    <td><%= user.phone_number %></td>
                    <td><%= user.email %></td>
                    <td><%= user.orders.count %>回</td>
                    <td><%= link_to "編集", edit_admins_user_path(user) %></td>
                    <td><%= link_to "削除", "#", method: :delete %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>
                    登録ユーザーがいません
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>