<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>編集</h5>
        <hr>
        <%= form_for @shop, url: admins_shop_path do |f| %>
          <div class="field">
            <%= f.label :name, "店名" %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-under", placeholder: "店名" %>
          </div>

          <div class="field">
            <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br />
            <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-under", placeholder: "例:08012345678" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-under" %>
          </div>

          <div class="field">
            <%= f.label :postal_code, "郵便番号（ハイフンなし）" %><br />
            <%= f.number_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-under", placeholder: "例:1610001" %>
          </div>

          <div class="field">
            <%= f.label :prefecture, "都道府県" %><br>
            <%= f.select :prefecture, Shop.prefectures.keys, {prompt: '選択してください'}, class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :city, "市区町村" %><br />
            <%= f.text_field :city, autofocus: true, autocomplete: "city", class:"form-under", placeholder: "例:新宿区三丁目" %>
          </div>

          <div class="field">
            <%= f.label :address, "住所" %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-under", placeholder: "例:1−1−34" %>
          </div>

          <div class="field">
            <%= f.label :introduction, "店舗紹介文" %><br />
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"form-control" %>
          </div>

          <div class="field">
            <%= f.label :url, "ホームページURL" %><br>
            <%= f.text_field :url, autofocus: true, autocomplete: "url", class:"form-under" %>
          </div>

          <div class="actions center">
            <%= f.submit "編集", class: "button-fill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>