<div class="container-fluid head-pad">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h3 class="center">注文</h3>
        <hr>
        <%= form_for @order, url: menu_orders_path do |f| %>
          <%= f.hidden_field :shop_id, value: @menu.shop_id %>
          <%= f.hidden_field :user_id, value: current_user.id %>

          <div class="field">
            <div class="row">
              <div class="col-8">
                <h5><%= @menu.name %></h5>
                <h6>¥<%= @menu.price %></h6>
                <div class="intro_box font-10">
                  <%= @menu.introduction.truncate(40) %>
                </div>
              </div>
              <div class="col-4 center">
                <% if @menu.menu_images.present? %>
                  <%= image_tag @menu.menu_images[0].file_name.thumb100.to_s %>
                <% else %>
                  <%= image_tag "noimage.png", size:"100x50" %>
                <% end %>
              </div>
            </div>
            <div class="row pa-l-30">
              <div class="amount_counter">
                <span id="minusButton" class="pointer minusBtn">-</span>
                <%= f.text_field :amount, id: "counterOutput", class:"amount_input", value:1 %>
                <span id="plusButton" class="pointer plusBtn">+</span>
              </div>
            </div>
          </div>

          <hr>

          <div class="field">
            <h4>お会計金額:<span class="ma-l-30">¥</span><span id="menu_price"><%= @menu.price %></span></h4>
          </div>

          <div class="field">
            <h5>完成予定時間</h5>
            <h6><%= @menu.estimated_time %><span class="ma-x-10">〜</span><%= @menu.estimated_time + 10 %>分</h6>
          </div>

          <div class="field">
            <%= f.label :takeaway_datetime, "受け取り日時" %><br />
            <%= f.datetime_select :takeaway_datetime, {minute_step: 10, default: Time.now.ceil_to(10.minutes) + (@menu.estimated_time*60), use_month_numbers: true, start_year: Date.today.year, datetime_separator: '<label class="fb-txt my-2 dis-b"></label>'},{id: 'ymd-date'} %>
          </div>

          <div class="field">
            <%= f.label :requested, "要望（あれば記入ください）" %><br />
            <%= f.text_area :requested, autocomplete: "requested", class:"form-control" %>
          </div>

          <div class="actions center">
            <%= f.submit "注文する", class: "button-fill" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  let counterOutput = document.getElementById("counterOutput");
  let menuPrice = document.getElementById("menu_price");
  // 加算機能
  let plusButton = document.getElementById("plusButton");
  let onClickPlusButton = () => {
    counterOutput.value++;
    menuPrice.innerText = <%= @menu.price %> * counterOutput.value;
  };
  plusButton.addEventListener("click", onClickPlusButton);

  // 減算機能
  let minusButton = document.getElementById("minusButton");
  let onClickMinusButton = () => {
    if (counterOutput.value > 1) {
      counterOutput.value--; // カウント数が1以上のときだけ減算する
      menuPrice.innerText = <%= @menu.price %> * counterOutput.value;
    }
  };
  minusButton.addEventListener("click", onClickMinusButton);
</script>