<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="content_box">
        <h4 class="center">注文</h4>
        <hr>
        <%= form_for @order, url: menu_orders_path do |f| %>
          <%= f.hidden_field :shop_id, value: @menu.shop_id %>
          <%= f.hidden_field :user_id, value: current_user.id %>

          <div class="row">
            <div class="col-7">
              <p class="m-text"><%= link_to @menu.shop.name, users_shop_path(@menu.shop), class:"gray" %></p>
              <h5><%= @menu.name %></h5>
              <h6>¥<%= price(@menu.price) %></h6>
              <div class="amount_counter ma-t-10">
                <span id="minusButton" class="pointer minusBtn"><i class="fas fa-minus-circle"></i></span>
                <%= f.text_field :amount, id: "counterOutput", class:"amount_input", value: @amount %>
                <span id="plusButton" class="pointer plusBtn"><i class="fas fa-plus-circle"></i></span>
              </div>
            </div>
            <div class="col-5 center">
              <% if @menu.menu_images.present? %>
                <%= image_tag @menu.main_image.file_name.thumb_square.to_s, class: "wid-70" %>
              <% else %>
                <%= image_tag "noimage.png", class: "wid-70" %>
              <% end %>
            </div>
          </div>

          <hr>

          <div class="field">
            <h4>お会計金額：<span class="ma-l-30">¥</span><span id="menu_price"><%= price(@menu.price) %></span></h4>
          </div>

          <div class="field">
            <h5>完成予定時間</h5>
            <h6><%= @menu.estimated_time %><span class="ma-x-10">〜</span><%= @menu.estimated_time + 10 %>分</h6>
          </div>

          <div class="field">
            <%= f.label :takeaway_datetime, "受け取り日時" %><br />
            <%= f.datetime_select :takeaway_datetime, {minute_step: 10, default: Time.now.ceil_to(10.minutes) + (@menu.estimated_time*60), use_month_numbers: true, start_year: Date.today.year, datetime_separator: '<label class="fb-txt my-2 ma-x-10"></label>'},{id: 'ymd-date'} %>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h6><%= @shop.name %>の住所</h6>
            </div>
          </div>
          <div class="row pa-l-30">
            <p>
              〒<%= @shop.postal_code %><br>
              <%= @shop.full_address %>
            </p>
          </div>
          <div class="row center">
            <div id="map"></div>
          </div>
          
          <script>
            function initMap() {
            
              var target = document.getElementById('map'); //マップを表示する要素を指定
              var address = "<%= @shop.full_address %>"; //住所を指定
              var geocoder = new google.maps.Geocoder();  

              geocoder.geocode({ address: address }, function(results, status){
                if (status === 'OK' && results[0]){

                  console.log(results[0].geometry.location);

                  var map = new google.maps.Map(target, {  
                    center: results[0].geometry.location,
                    zoom: 18
                  });

                  var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    animation: google.maps.Animation.DROP
                  });

                }else{ 
                  //住所が存在しない場合の処理
                  alert('住所が正しくないか存在しません。');
                  target.style.display='none';
                }
              });
            }
          </script>
          <script src="//maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap"></script>

          <div class="">
            <%= f.label :requested, "要望（あれば記入ください）" %><br />
            <%= f.text_area :requested, autocomplete: "requested", class:"form-control", style: "height:200px" %>
          </div>

          <div class="actions center">
            <%= f.submit "注文する", class: "button-fill", data: { disabled_with: '注文中' } %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  let counterOutput = document.getElementById("counterOutput");
  let menuPrice = document.getElementById("menu_price");
  // 加算機能
  let plusButton = document.getElementById("plusButton");
  let onClickPlusButton = () => {
    counterOutput.value++;
    menuPrice.innerText = (<%= @menu.price %> * counterOutput.value).toLocaleString();
  };
  plusButton.addEventListener("click", onClickPlusButton);

  // 減算機能
  let minusButton = document.getElementById("minusButton");
  let onClickMinusButton = () => {
    if (counterOutput.value > 1) {
      counterOutput.value--; // カウント数が1以上のときだけ減算する
      menuPrice.innerText = (<%= @menu.price %> * counterOutput.value).toLocaleString();
    }
  };
  minusButton.addEventListener("click", onClickMinusButton);

  let inputInt = () => {
    menuPrice.innerText = (<%= @menu.price %> * counterOutput.value).toLocaleString();
  };
  counterOutput.addEventListener("input", inputInt);
</script>