<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4 class="center">注文履歴詳細</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", user_orders_path(current_user), class: "font-20" %>
        </div>
        <hr>
        <div class="content_box_detail">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>店舗名</th>
                <td><%= @order.shop.name %></td>
              </tr>
              <tr>
                <th>予約番号</th>
                <% if @order.status == "新規注文" %>
                  <td>まだ注文が確定していません</td>
                <% elsif @order.status == "受付注文" %>
                  <td><%= @order.reserve_number %></td>
                <% elsif @order.status == "キャンセル注文" %>
                  <td>キャンセル</td>
                <% end %>
              </tr>
              <tr>
                <th>予約日</th>
                <td><%= @order.updated_at.strftime("%Y年%m月%d日") %></td>
              </tr>
              <tr>
                <th>受取日時</th>
                <td><%= @order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></td>
              </tr>
              <tr>
                <th>要望</th>
                <td><%= @order.requested %></td>
              </tr>
            </tbody>
          </table>
          <h6>注文商品</h6>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>商品名</td>
                <td>数量</td>
                <td>金額</td>
              </tr>
              <% @order.order_items.each do |item| %>
                <tr>
                  <td><%= item.menu_name %></td>
                  <td><%= item.menu_amount %>個</td>
                  <td><%= price(item.menu_price * item.menu_amount) %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <th>合計</th>
                <td><%= price(@order.total_payment) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>