<p>==========================================</p>
<h4><span style="margin:0 10px"><%= @user.full_name %></span> 様より注文がありました</h4>
<p>==========================================</p>

<h5>受け取り希望時間</h5>
<p><%= @order.takeaway_datetime.strftime("%Y年%m月%d日 %H:%M") %></p>

<h5>注文内容</h5>
<ul style="list-style:none;">
  <% @order.order_items.each do |item| %>
    <li><%= item.menu_name %><span style="margin:0 20px">x</span><%= item.menu_amount %></li>
  <% end %>
</ul>

<br>
<br>
<br>

<p>
  ご注文内容と受け取り希望時間をご確認いただき、<br>
  注文の受付完了の処理をしてください。<br>
</p>

<a href="https://pickup.circrest.com/shops/orders/<%= @order.id %>">注文受付処理をする</a>


