<p>==========================================</p>
<h4><span style="margin:0 10px"><%= @user.full_name %></span> 様より注文がありました</h4>
<p>==========================================</p>

<p>
  ご注文の内容をご確認いただき、注文の受付処理を行ってください。
</p>

<p class="ma-y-20">-----------【注文情報】------------</p>
<p>［注文日時］<%= @order.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
<p>［ご注文者］<%= @user.full_name %></p>
<p>［受け取り日時］<%= @order.takeaway_datetime.strftime("%Y年%m月%d日 %H時%M分") %></p>
<p>［合計金額］<%= @order.total_payment %>円</p>
<p>［商品一覧］</p>

<table class="table ma-y-20">
  <thead>
    <tr>
      <th width="100px">商品名</th>
      <th width="100px" style="text-arign:right">数量</th>
      <th width="100px" style="text-arign:right">金額</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.menu_name %></td>
        <td><%= item.menu_amount %></td>
        <td><%= item.menu_price * item.menu_amount %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<a href="https://pickup.circrest.com/shops/orders/<%= @order.id %>">受付処理をする</a>
<br>
<br>

<p>ご不明な点などございましたら、下記までお問い合わせください。</p>
<p>↓↓↓↓↓↓↓↓↓↓↓↓↓</p>

<h3>Pickup運営</h3>
<p>
  問い合わせ先：<a href="mailto:pickup@circrest.com">pickup@circrest.com</a><br>
  対応時間：9:00〜20:00
</p>


