<h3 class="user_name"><%= @user.full_name %>様</h3>

<p>
  このたびは『Pickup』をご利用いただき、誠にありがとうございます。<br>
  ご注文いただいておりました商品につきまして、<br>
  店舗様より受付確定の連絡をいただきましたので、ご報告いたします。
</p>
<p>
  つきましては、受け取り時間に直接店舗で商品を受け取るようお願いいたします。
</p>
<p>
  なお、受付確定以降のキャンセルはアプリ上承っておりません。<br>
  どうしてもキャンセルしなければいけない事由がある場合は、<br>
  お手数ですが、直接店舗へご連絡いただきますようお願い申し上げます。<br>
  ※時間などにより直接ご連絡いただいても店舗様によってはキャンセルできない可能性もありますので、予めご了承ください。
</p>
<br>
<p><%= @shop.name %>の電話番号：<span class="ma-x-20"><%= link_to @shop.phone_number, "tel:" + @shop.phone_number %></span></p>
<br>
<p>----------【注文情報】----------</p>
<p>［注文送信日時］<%= @order.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
<p>［ご注文者］<%= @user.full_name %> 様</p>
<p>［受け取り店舗］<%= @shop.name %></p>
<p>［受け取り日時］<%= @order.takeaway_datetime.strftime("%Y年%m月%d日 %H時%M分") %></p>
<p>［合計金額］¥<%= @order.total_payment %></p>
<br>
<table class="table">
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td width="100px"><%= item.menu_name %></td>
        <td width="50px"><%= item.menu_amount %>個</td>
        <td width="100px"><%= item.menu_price * item.menu_amount %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="https://pickup.circrest.com/">Pickupへ</a>

<hr>
<p>ご不明点などございましたら、お気軽にご連絡ください。</p>
<p>
  なお、本メールは配信専用のメールアドレスから配信しております。<br>
  ご返信いただいても確認することができませんので、<br>
  ご連絡は下記メールアドレスにお問い合わせください。<br>
  <a href="mailto:pickup@circrest.com">pickup@circrest.com</a>
</p>
<hr>

<p>今後とも、Pickupをよろしくお願いいたします。</p>

<p>
  テイクアウトは、これからの外食の形。<br>
  テイクアウトをもっと身近に　<a href="https://pickup.circrest.com/">Pickup（ピックアップ）</a>
</p>

<h3>Pickup運営</h3>
<p>
  問い合わせ先：<a href="mailto:pickup@circrest.com">pickup@circrest.com</a><br>
  対応時間：9:00〜20:00
</p>