<div class="container-fluid head-pad">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h3 class="center">まとめて注文</h3>
        <hr>
        <% if @cart_items.present? %>
          <% @cart_items.each do |cart_item| %>

            <div class="field">
              <div class="row">
                <div class="col-8">
                  <h5><%= cart_item.menu.name %></h5>
                  <h6>¥<%= cart_item.menu.price %></h6>
                  <div class="intro_box">
                    <%= cart_item.menu.introduction.truncate(40) %>
                  </div>
                </div>
                <div class="col-4">
                  <% if cart_item.menu.menu_images.present? %>
                    <%= image_tag cart_item.menu.menu_images[0].file_name.thumb100.to_s %>
                  <% else %>
                    <%= image_tag "noimage.png", size:"150x100" %>
                  <% end %>
                </div>
              </div>
              <div class="row pa-l-30">
                <div class="amount_counter">
                  <% if cart_item.amount == 1 %>
                    <span id="minusButton" class="pointer minusBtn"><%= link_to "-", cart_item_path(cart_item), method: :delete %></span>
                  <% else %>
                    <span id="minusButton" class="pointer minusBtn"><%= link_to "-", menu_cart_item_path(cart_item.menu, cart_item, amount:"minus"), method: :patch %></span>
                  <% end %>
                  <span class="ma-x-20"><%= cart_item.amount %></span>
                  <span id="plusButton" class="pointer plusBtn"><%= link_to "+", menu_cart_item_path(cart_item.menu, cart_item, amount:"plus"), method: :patch %></span>
                </div>
              </div>
            </div>

            <hr>
          <% end %>
        <% end %>
        <div class="field ma-b-50">
          <h4>お会計金額:<span class="ma-l-30">¥</span><span id="menu_price"><%= current_user.cart_items_total_price %></span></h4>
        </div>

        <div class="field ma-b-50">
          <h5>完成予定時間</h5>
          <h6><%= current_user.max_estimated_time %><span class="ma-x-10">〜</span><%= current_user.max_estimated_time + 10 %>分</h6>
        </div>

        <div class="actions center">
          <%= link_to "買い物を続ける", menus_path, class: "button-fill" %>
          <%= link_to "注文に進む", new_cart_items_order_path, class: "button-fill" %>
        </div>
      </div>
    </div>
  </div>
</div>