<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4 class="center">まとめて注文</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", 'javascript:history.back()', class: "font-20" %>
        </div>
        <hr>
        <% if @cart_items.present? %>
          <% @cart_items.each do |cart_item| %>
            <div class="row">
              <div class="col-7">
                <p class="m-text"><%= link_to cart_item.menu.shop.name, users_shop_path(cart_item.menu.shop), class:"gray" %></p>
                <h5><%= cart_item.menu.name %></h5>
                <h6>¥<%= price(cart_item.menu.price) %></h6>
                <div class="amount_counter ma-t-10">
                  <% if cart_item.amount == 1 %>
                    <span id="minusButton" class="pointer minusBtn"><a href="<%= cart_item_path(cart_item) %>" data-method="delete"><i class="fas fa-minus-circle minusBtn"></i></a></span>
                  <% else %>
                    <span id="minusButton" class="pointer minusBtn"><a href="<%= menu_cart_item_path(cart_item.menu, cart_item, amount:"minus") %>" data-method="patch"><i class="fas fa-minus-circle minusBtn"></i></a></span>
                  <% end %>
                  <span class="ma-x-20"><%= cart_item.amount %></span>
                  <span id="plusButton" class="pointer plusBtn"><a href="<%= menu_cart_item_path(cart_item.menu, cart_item, amount:"plus") %>" data-method="patch"><i class="fas fa-plus-circle plusBtn"></i></a></span>
                </div>
              </div>
              <div class="col-5 center">
                <% if cart_item.menu.menu_images.present? %>
                  <%= image_tag cart_item.menu.main_image.file_name.thumb_square.to_s, class: "wid-70" %>
                <% else %>
                  <%= image_tag "noimage.png", class: "wid-70" %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
        <% else %>
          <h5 class="center" style="height:100px">カートに商品は入っていません。</h5>
        <% end %>
        <div class="field">
          <h5>お会計金額:<span class="ma-l-30">¥</span><span id="menu_price"><%= price(current_user.cart_items_total_price) %></span></h5>
        </div>

        <% if @cart_items.present? %>
          <div class="field">
            <h5>完成予定時間</h5>
            <h6><%= current_user.max_estimated_time %><span class="ma-x-10">〜</span><%= current_user.max_estimated_time + 10 %>分</h6>
          </div>
        <% end %>

        <div class="actions center">
          <% if @cart_items.present? %>
            <%= link_to "買い物を続ける", users_shop_path(@cart_items[0].menu.shop), class: "button-fill" %>
            <%= link_to "注文に進む", new_cart_items_order_path, class: "button-fill" %>
          <% else %>
            <%= link_to "買い物を続ける", root_path, class: "button-fill" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>