<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
	<%= image_tag "main_img.jpg", alt: "" %>
</div>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/shop_search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h6 class="ma-b-20">検索した店舗：<%= @search_shops.count %>件</h6>
      <% if @shops.present? %>
        <%= render partial: "users/shops/shops", locals:{shops: @shops} %>
        <div class="row center ma-b-20">
          <div class="col-md-12">
            <%= paginate @shops %>
          </div>
        </div>
      <% else %>
        <div class="non_search pa-30">
          <h5 class="center">検索された店舗はありませんでした</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>