<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
  <% if @shop.shop_images.present? %>
    <div class="shopImage" style="background-image:url(<%= @shop.main_image.file_name.to_s %>);" alt="店舗画像"></div>
  <% else %>
    <span class="shopImage" style="background-image:url(<%= asset_path('shops_img.jpg') %>);" alt="店舗画像"></span>
  <% end %>
  <div id="shopImage"></div>
  <div id="shopInfo">
    <h3 class="center ma-t-50"><%= @shop.name %></h3>
    <h6 class="center ma-t-10" style="color: #ddd">
      <% if @shop.shop_tags.present? %>
        <% @shop.shop_tags.each do |tag| %>
          <span class="ma-10"><%= tag.content %></span>
        <% end %>
      <% end %>
    </h6>
  </div>
</div>
<!-- / メイン画像 -->

<!-- サーチバー  -->
<div class="menu_bar center">
  <li class="dis-ib pa-x-10"><a href="#">人気メニュー</a></li>
  <li class="dis-ib pa-x-10"><a href="#">フード</a></li>
  <li class="dis-ib pa-x-10"><a href="#">ドリンク</a></li>
  <li class="dis-ib pa-x-10"><a href="#">デザート</a></li>
</div>
<!-- / サーチバー  -->

<div class="container-fluid">
  <div class="row right ma-b-20">
    <div class="col-md-12">
      <%= link_to "戻る", :back, class: "arrow2" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="gridWrapperTitle">
        <h6>人気メニュー</h6>
      </div>
      <% if @menus.present? %>
        <%= render partial: "menus/recommend_menus", locals:{menus: @popular_menus} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="gridWrapperTitle">
        <h6>フード</h6>
      </div>
      <% if @food_menus.present? %>
        <%= render partial: "menus/menus", locals:{menus: @food_menus} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="gridWrapperTitle">
        <h6>ドリンク</h6>
      </div>
      <% if @drink_menus.present? %>
        <%= render partial: "menus/menus", locals:{menus: @drink_menus} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="gridWrapperTitle">
        <h6>デザート</h6>
      </div>
      <% if @dessert_menus.present? %>
        <%= render partial: "menus/menus", locals:{menus: @dessert_menus} %>
      <% end %>
    </div>
  </div>
</div>