<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h3 class="center">店舗新規登録</h3>
        <hr>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :name, "店名" %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-under", placeholder: "店名" %>
          </div>

          <div class="field">
            <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br />
            <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-under", placeholder: "例:08012345678" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-under", placeholder: "メールアドレスを入力" %>
          </div>

          <div class="field">
            <%= f.label :postal_code, "郵便番号（ハイフンなし）" %><br />
            <%= f.number_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-under", placeholder: "例:1610001" %>
          </div>

          <div class="field">
            <%= f.label :prefecture, "都道府県" %><br>
            <%= f.select :prefecture, Shop.prefectures.keys, {prompt: '選択してください'}, class: 'form-under' %>
          </div>

          <div class="field">
            <%= f.label :city, "市区町村" %><br />
            <%= f.text_field :city, autofocus: true, autocomplete: "city", class:"form-under", placeholder: "例:安城市" %>
          </div>

          <div class="field">
            <%= f.label :address, "住所" %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-under", placeholder: "例:住吉町1−1−1" %>
          </div>

          <div class="field">
            <%= f.label :introduction, "店紹介文" %><br />
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"form-under" %>
          </div>

          <div class="field">
            <%= f.label :url, "ホームページURL" %><br>
            <%= f.text_field :url, autofocus: true, autocomplete: "url", class:"form-under" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-under" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-under" %>
          </div>

          <div class="actions">
            <%= f.submit "新規登録", class: "button-fill" %>
          </div>
        <% end %>

        <div class="back_btn right">
          <%= link_to "戻る", :back, class: "arrow2" %>
        </div>

      </div>
    </div>
  </div>
</div>
