<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4 class="center">『<%= @menu.name %>』<br>画像一覧</h4>
        <div class="back_btn">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", shops_menu_path(@menu), class: "font-20" %>
        </div>
        <hr>
        <% if @menu_images.present? %>
          <% 4.times do |i| %>
            <div class="content_box_detail ribon">
              <% if @menu_images[i].present? %>
                <%= image_tag @menu_images[i].file_name.thumb_width.to_s %>
                <% if @menu_images[i].is_main? %>
                  <div class="caption"><span>メイン</span></div>
                <% end %>
                <div class="edit_btn ma-t-50">
                  <%= link_to "この画像を編集する", edit_menu_menu_image_path(@menu, @menu_images[i]), class: "btn btn-primary btn-sm" %>
                  <% unless @menu_images[i] == @main_image %>
                    <%= link_to "この画像を削除する", menu_menu_image_path(@menu, @menu_images[i]), method: :delete, class: "btn btn-danger btn-sm" %>
                  <% end %>
                </div>
              <% else %>
                <%= image_tag "noimage.png", class:"wid-100" %>
                <div class="add_btn ma-t-50">
                  <%= link_to "画像を追加する", new_menu_menu_image_path(@menu), class: "btn btn-primary btn-sm" %>
                </div>
              <% end %>
            </div>
            <hr>
          <% end %>
        <% else %>
          <% 4.times do |i| %>
            <div class="content_box_detail">
              <%= image_tag "noimage.png", class:"wid-100" %>
              <div class="add_btn ma-t-50">
                <%= link_to "画像を追加する", new_menu_menu_image_path(@menu), class: "btn btn-primary btn-sm" %>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>