<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>『<%= @menu.name %>』の画像追加</h5>
        <div class="back_btn right">
          <%= link_to "戻る", menu_menu_images_path(@menu), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @menu_image, url: menu_menu_images_path(@menu.id) do |f|  %>
          
          <div class="field">
            <%= image_tag "noimage.png", class:"wid-100" %>
            <%= f.file_field :file_name, class: "font-10" %>
          </div>
          
          <div class="field">
            <%= f.check_box :is_main, {class: "check_box"}, true, false %>
            <%= f.label :is_main, "この画像をメインにする" %>
          </div>

          <div class="actions center">
            <%= f.submit "追加する", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    // disable auto discover
    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
      maxFilesize: 1,
      addRemoveLinks: true
    });
  });
</script>