<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4 class="center">まとめて注文</h4>
        <hr>
        <%= form_for @order, url: cart_items_orders_path do |f| %>

          <% @cart_items.each do |cart_item| %>

            <div class="row">
              <div class="col-7">
                <p class="m-text"><%= link_to cart_item.menu.shop.name, users_shop_path(cart_item.menu.shop), class:"gray" %></p>
                <h5><%= cart_item.menu.name %></h5>
                <h6>¥<%= price(cart_item.menu.price) %></h6>
                <h6 class="ma-t-10">数量<span class="ma-x-10">：</span><%= cart_item.amount %></h6>
              </div>
              <div class="col-5 center">
                <% if cart_item.menu.menu_images.present? %>
                  <%= image_tag cart_item.menu.main_image.file_name.thumb_square.to_s, class: "wid-70" %>
                <% else %>
                  <%= image_tag "noimage.png", class: "wid-70" %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>

          <div class="field">
            <h5>お会計金額:<span class="ma-l-30">¥</span><span id="menu_price"><%= price(current_user.cart_items_total_price) %></span></h5>
          </div>

          <div class="field">
            <h5>完成予定時間</h5>
            <h6><%= current_user.max_estimated_time %><span class="ma-x-10">〜</span><%= current_user.max_estimated_time + 10 %>分</h6>
          </div>

          <div class="field ma-b-20">
            <%= f.label :takeaway_datetime, "受け取り日時" %><br />
            <%= f.datetime_select :takeaway_datetime, {minute_step: 10, default: Time.now.ceil_to(10.minutes) + (current_user.max_estimated_time*60), use_month_numbers: true, start_year: Date.today.year, datetime_separator: '<label class="fb-txt my-2 ma-x-10"></label>'},{id: 'ymd-date'} %>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h6><%= @shop.name %>の住所</h6>
            </div>
          </div>
          <div class="row pa-l-30">
            <p>
              〒<%= @shop.postal_code %><br>
              <%= @shop.full_address %>
            </p>
          </div>
          <div class="row center">
            <div id="map"></div>
          </div>
          
          <script>
            function initMap() {
            
              var target = document.getElementById('map'); //マップを表示する要素を指定
              var address = "<%= @shop.full_address %>"; //住所を指定
              var geocoder = new google.maps.Geocoder();  

              geocoder.geocode({ address: address }, function(results, status){
                if (status === 'OK' && results[0]){

                  console.log(results[0].geometry.location);

                  var map = new google.maps.Map(target, {  
                    center: results[0].geometry.location,
                    zoom: 18
                  });

                  var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    animation: google.maps.Animation.DROP
                  });

                }else{ 
                  //住所が存在しない場合の処理
                  alert('住所が正しくないか存在しません。');
                  target.style.display='none';
                }
              });
            }
          </script>
          <script src="//maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap"></script>

          <div class="field ma-b-50">
            <%= f.label :requested, "要望（あれば記入ください）" %><br />
            <%= f.text_area :requested, autocomplete: "requested", class:"form-control", style: "height:200px" %>
          </div>

          <div class="actions center">
            <%= f.submit "注文する", class: "button-fill" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
