<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-2">
      <div class="form_box">
        <h3 class="center">まとめて注文</h3>
        <hr>
        <%= form_for @order, url: cart_items_orders_path do |f| %>

          <% @cart_items.each do |cart_item| %>

            <div class="field ma-b-50">
              <div class="row">
                <div class="col-3">
                  <h5><%= cart_item.menu.name %></h5>
                  <h6>¥<%= cart_item.menu.price %></h6>
                  <h6>数量<span class="ma-x-20">：</span><%= cart_item.amount %></h6>
                </div>
                <div class="col-5 font-10">
                  <%= cart_item.menu.introduction %>
                </div>
                <div class="col-4">
                  <% if cart_item.menu.menu_images.present? %>
                    <%= image_tag cart_item.menu.menu_images[0].file_name.thumb100.to_s %>
                  <% else %>
                    <%= image_tag "noimage.png", size:"150x100" %>
                  <% end %>
                </div>
              </div>
            </div>

            <hr>
          <% end %>

          <div class="field ma-b-50">
            <h4>お会計金額:<span class="ma-l-30">¥</span><span id="menu_price"><%= current_user.cart_items_total_price %></span></h4>
          </div>

          <div class="field ma-b-50">
            <h5>完成予定時間</h5>
            <h6><%= current_user.max_estimated_time %><span class="ma-x-10">〜</span><%= current_user.max_estimated_time + 10 %>分</h6>
          </div>

          <div class="field ma-b-20">
            <%= f.label :takeaway_datetime, "受け取り日時" %><br />
            <%= f.datetime_select :takeaway_datetime, {minute_step: 10, default: Time.now.ceil_to(10.minutes) + (current_user.max_estimated_time*60), use_month_numbers: true, start_year: Date.today.year, datetime_separator: '<label class="fb-txt my-2 ma-x-20"></label>'},{id: 'ymd-date'} %>
          </div>

          <div class="field ma-b-50">
            <%= f.label :requested, "要望（あれば記入ください）" %><br />
            <%= f.text_area :requested, autocomplete: "requested", class:"form-control" %>
          </div>

          <div class="actions center">
            <%= f.submit "注文する", class: "button-fill" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
