<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>
          『<%= @menu.name %>』の検索キーワード</h5>
        <div class="back_btn right">
          <%= link_to "戻る", shops_menu_path(@menu), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @menu_tag, url: menu_menu_tags_path(@menu) do |f|  %>
          <%= f.hidden_field :menu_id, value: @menu.id %>
          <div class="field">
            <%= f.text_field :content, placeholder: "追加したいキーワードを入力", class: "form-control" %>
          </div>

          <div class="actions center">
            <%= f.submit "追加", class: "button-fill" %>
          </div>
        <% end %>
        <hr>
        <h5>設定済みのキーワード</h5>
        <div class="tag_index">
          <% if @menu.menu_tags.present? %>
            <% @menu.menu_tags.each do |tag| %>
              <span class="badge badge-pill badge-secondary"><%= tag.content %><span class="ma-l-10">|</span><%= link_to "x", menu_menu_tag_path(@menu, tag), method: :delete, class:"badge badge-pill badge-secondary" %></span>
            <% end %>
          <% else %>
            <p>検索キーワードが設定されていません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>