<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
      <div class="content_box">
        <h5>売上</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>売上件数</th>
                <td class="right"><%= @sales_count %>件</td>
              </tr>
              <tr>
                <th>売上金額</th>
                <td class="right">¥<%= price(@sales_price) %></td>
              </tr>
              <tr>
                <th>手数料</th>
                <td class="right">¥<%= price(@sales_fee) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="content_box">
        <h5>商品別売上内訳</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>商品</th>
                <th>件数</th>
                <th class="right">金額</th>
                <th class="right">手数料</th>
              </tr>
            </thead>
            <tbody>
              <% if @shop.menus.present? %>
                <% @shop.menus.each do |menu| %>
                  <tr>
                    <td><%= menu.name %></td>
                    <td><%= menu_sale_count(menu, @orders) %>件</td>
                    <td class="right">¥<%= price(menu_sale_price(menu, @orders)) %></td>
                    <td class="right">¥<%= price(menu_sale_fee(menu, @orders)) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>