<div class="modal fade" id="detailSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content container global_menu_modal">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">詳細検索</h5>
        </div>
        <hr>
        <div class="detail_search__modal">
          <%= search_form_for q, url: search_menus_path, method: :get do |f| %>
            <div class="detail_search_form">

              <div class="detail_search__group ma-t-10">
                <div class="detail_search__group--label">
                  <i class="fas fa-search"></i><span>検索キーワード</span><br>
                  <%= f.search_field :menu_tags_content_cont, placeholder: "例）ハンバーグ", class: "form-under" %>
                </div>
              </div>

              <div class="detail_search__group ma-t-10">
                <div class="detail_search__group--label">
                  <i class="fas fa-search"></i><span>価格</span>
                  <div class="detail_search__group--forms">
                    <div class="row">
                      <div class="col">
                        <%= f.search_field :price_gteq, class:"form-under", placeholder: "下限価格" %>
                      </div>
                      <div class="col">
                        <%= f.search_field :price_lteq, class:"form-under", placeholder: "上限価格" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="detail_search__btns center ma-t-30">
                <div class="detail_search__btn--grey">
                  <%= f.submit "検索", class:"button-fill" %>
                </div>
              </div>
              
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->