<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6 class="ma-t-10">利用者様向け</h6>
        <ul class="footerMenu">
          <li class="ma-t-10">
            <%= link_to "プライバシーポリシー", privacy_path %>
          </li>
          <li class="ma-t-10">
            <%= link_to "利用規約", term_path %>
          </li>
          <li class="ma-t-10">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="ma-t-10">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="ma-t-10">店舗様向け</h6>
        <ul class="footerMenu">
          <li class="ma-t-10">
            <%= link_to "Pickupとは", store_path %>
          </li>
          <li class="ma-t-10">
            <%= link_to "お問い合わせ", new_shop_contact_path %>
          </li>
          <li class="ma-t-10">
            <%= link_to "ログイン", new_shop_session_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-4 center">
        <%= image_tag "logo.png", size:"80x55", class:"ma-t-20" %>
        <p class="font-10 center" style="line-height:50px">©PickUp from Circrest 2021</p>
      </div>
    </div>
  </div>
</div>