<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content container global_menu_modal">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">メニュー</h5>
        </div>
        <hr>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a class="text-body d-block p-3 m-n3" href="<%= shops_path %>" role="button">
                  <i class="fas fa-home"></i>
                  ホーム
                </a>
              </h5>
            </div><!-- /.card-header -->
          </div><!-- /.card -->
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a class="text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-utensils"></i>
                  商品管理
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr class="pointer" data-href="<%= shops_menus_path %>">
                      <td>登録商品一覧</td>
                    </tr>
                    <tr class="pointer" data-href="<%= new_menu_path %>">
                      <td>商品新規登録</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fas fa-file-alt"></i>
                  受注管理
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr class="pointer" data-href="<%= today_index_shops_orders_path %>">
                      <td>本日の注文一覧</td>
                    </tr>
                    <tr class="pointer" data-href="<%= shops_orders_path %>">
                      <td>過去の受注履歴</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                  <i class="far fa-chart-bar"></i>
                  売上管理
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr class="pointer" data-href="#">
                      <td>本日の売上</td>
                    </tr>
                    <tr class="pointer" data-href="#">
                      <td>月間売上</td>
                    </tr>
                    <tr class="pointer" data-href="#">
                      <td>年間売上</td>
                    </tr>
                    <tr class="pointer" data-href="#">
                      <td>メニュー別売上</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                  <i class="fas fa-store"></i>
                  店舗管理
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-borderless">
                  <tbody>
                    <tr class="pointer" data-href="<%= shop_path(current_shop) %>">
                      <td>店舗情報確認</td>
                    </tr>
                    <tr class="pointer" data-href="<%= edit_shop_path(current_shop) %>">
                      <td>店舗情報編集</td>
                    </tr>
                    <tr class="pointer" data-href="<%= shop_shop_images_path(current_shop) %>">
                      <td>店舗画像追加・編集</td>
                    </tr>
                    <tr class="pointer" data-href="<%= shop_business_hours_path(current_shop) %>">
                      <td>営業時間管理</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
        </div><!-- /#accordion -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->