<div id="header">
	<div class="inner">
		<!-- ロゴ -->
		<div class="logo">
			<a href="/">
        <%= image_tag "logo2.png", size:"80x55" %>
      </a>
		</div>
		<!-- / ロゴ -->
		<%# <div class="search_icon" data-toggle="modal" data-target="#detailSearchModal">
			<i class="fas fa-search fa-lg"></i>
		</div> %>
		<% if user_signed_in? %>
			<div class="user_icon" data-toggle="modal" data-target="#userModal">
				<i class="fas fa-user"></i>
			</div>
			<div class="cart_icon" data-href="<%= user_cart_items_path(current_user) %>">
				<i class="fas fa-shopping-bag"></i>
			</div>
		<% else %>
			<div class="user_icon" data-toggle="modal" data-target="#authModal">
				<i class="fas fa-user"></i>
			</div>
			<div class="menu_icon" data-toggle="modal" data-target="#userMenuModal">
				<i class="fas fa-bars fa-2x"></i>
			</div>
		<% end %>
	  <!-- メインナビゲーション -->
    <nav id="mainNav">
			<div class="panel">
				<ul class="non_style">
					<li><a href="/">ホーム<br><span>Home</span></a></li>
					<li><a href="/about">PickUpとは<br><span>About</span></a></li>
					<li><a href="/method">ご購入方法<br><span>Method</span></a></li>
					<% if user_signed_in? %>
						<li><a href="/users/<%= current_user.id %>/cart_items">お買い物かご<br><span>Cart</span></a></li>
					<% else %>
						<li><a href="/top">飲食店様向け<br><span>Shops</span></a></li>
					<% end %>
					
					<% if user_signed_in? %>
						<li><a href="/users/<%= current_user.id %>"><%= current_user.full_name %><br><span>User</span></a></li>
					<% else %>
						<li><a href="#" data-toggle="modal" data-target="#authModal">ログイン<br><span>Login</span></a></li>
					<% end %>
				</ul>
      </div>
    </nav>
  </div>
</div>