<div class="modal fade" id="userMenuModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content container global_menu_modal">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">メニュー</h5>
        </div>
        <hr>
        
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><i class="fas fa-home"></i><%= link_to "ホーム", root_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Pickupとは", about_path %></td>
            </tr>
            <tr>
              <td><%= link_to "ご購入方法", method_path %></td>
            </tr>
            <tr>
              <td><%= link_to "飲食店様向け", store_path %></td>
            </tr>
            <tr>
              <td><%= link_to "ログイン", new_user_session_path %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->