<!DOCTYPE html>
<html>
  <head>
    <title>PickUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <script src="https://kit.fontawesome.com/64b8b4bea1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/header' %>
    </header>
    <div class="container-fuild background">
      <main>
        <div class="flex-box">
          <div class="flex-1 fix-15">
            <% if shop_signed_in? %>
              <%= render partial: 'layouts/shopSidebar' %>
            <% elsif admin_signed_in? %>
              <%= render partial: 'layouts/adminSidebar' %>
            <% end %>
          </div>
          <div class="flex-5 main-box">
            <%= render partial: 'shared/flash_message' %>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <script>
      jQuery(function ($) {
        //data-hrefの属性を持つtrを選択しclassにclickableを付加
        $("tr[data-href]")
          .addClass("clickable")

        //クリックイベント
        .click(function (e) {
          //e.targetはクリックした要素自体、それがa要素以外であれば
          if (!$(e.target).is("a")) {
            //その要素の先祖要素で一番近いtrの
            //data-href属性の値に書かれているURLに遷移する
            window.location = $(e.target).closest("tr").data("href");
          }
        });
      });
      $(function(){
        setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
      })
    </script>
  </body>
</html>
