<!DOCTYPE html>
<html>
  <head>
    <title>PickUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fuild wrapper">
      <header>
        <%= render partial: 'layouts/header' %>
      </header>
      <main>
        <div class="row" style="margin-right:0;">
          <div class="col-2" style="padding-right:0">
            <% if admin_signed_in? %>
              <%= render partial: 'layouts/adminSidebar' %>
            <% elsif shop_signed_in? %>
              <%= render partial: 'layouts/shopSidebar' %>
            <% end %>
          </div>
          <div class="col" style="padding:0">
            <%= render partial: 'shared/flash_message' %>
            <%= yield %>
          </div>
        </div>
      </main>
      <footer>
        <%= render partial: 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
