<!DOCTYPE html>
<html>
  <head>
    <title>PickUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('logo.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <script src="https://kit.fontawesome.com/64b8b4bea1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/shop_header' %>
    </header>
    <div class="wrapper">
      <%= render partial: 'shared/flash_message' %>
      <%= yield %>
      <footer class="center">
        <%= render partial: "layouts/footer" %>
      </footer>
      <% if shop_signed_in? %>
        <%= render partial: 'layouts/menu_modal' %>
        <%= render partial: 'shops/menus_modal' %>
        <%= render partial: 'shops/orders_modal' %>
        <%= render partial: 'shops/sales_modal' %>
        <%= render partial: 'shops/shop_modal' %>
      <% end %>
    </div>
  </body>
</html>