<!DOCTYPE html>
<html>
  <head>
    <title>PickUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('pickup_logo.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <script src="https://kit.fontawesome.com/64b8b4bea1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/shop_header' %>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" style="padding:0;">
          <div class="sidebar">
            <%= render partial: 'layouts/shopSidebar' %>
            <%= render partial: 'layouts/adminSidebar' %>
          </div>
        </div>
        <div class="col-md-10 mainBox" style="padding:0;">
          <div class="wrapper">
            <%= render partial: 'shared/flash_message' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>