<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <% if params[:data] %>
          <h3 class="center">新規登録<span class="font-20 ma-l-20">for <%= params[:data][:provider] %></span></h3>
        <% else %>
          <h3 class="center">新規登録</h3>
        <% end %>
        <hr>
        <% unless params[:data] %>
          <div class="row ma-y-30">
            <div class="col-md-12 center">
              <h6 class="ma-b-20">SNS連携</h6>
              <a href="/users/auth/facebook">
                <%= image_tag "f_logo.png", size:"40x40", class:"ma-x-20" %>
              </a>
              <a href="/users/auth/google_oauth2">
                <%= image_tag "g_logo.png", size:"40x40", class:"ma-x-20" %>
              </a>
            </div>
          </div>
          <div class="title-border">または</div>
          <h6 class="ma-y-20 center">メールアドレスで新規登録</h6>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <% if params[:data] %>
            <%= f.hidden_field :uid, value: params[:data][:uid] %>
            <%= f.hidden_field :provider, value: params[:data][:provider] %>
          <% end %>
          <div class="field">
            <%= f.label :last_name, "氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-under", placeholder: "苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-under", placeholder: "名前" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :kana_last_name, "カナ氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", class:"form-under", placeholder: "カナ苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", class:"form-under", placeholder: "カナ名前" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br />
            <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-under", placeholder: "09012345678" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <% if params[:data] %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: params[:data][:info][:email], class:"form-under", placeholder: "〇〇〇@example.com" %>
            <% else %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-under", placeholder: "〇〇〇@example.com" %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-under", placeholder: "#{@minimum_password_length}文字以上" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-under" %>
          </div>

          <div class="actions center ma-50px">
            <%= f.submit "新規登録", class: "button-fill" %>
          </div>
        <% end %>

        <div class="link_box ma-t-30">
          <%= link_to "すでにアカウントをお持ちの方はこちら（ログイン）", new_session_path(resource_name), class: "font-10 ma-y-10" %><br />
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "本人確認用のメールが届いていない方はこちら", new_confirmation_path(resource_name), class: "font-10 ma-y-10" %><br />
          <% end %>
        </div>

        <div class="back_btn right">
          <%= link_to "戻る", :back, class: "arrow2" %>
        </div>

      </div>  
    </div>
  </div>
</div>