<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="form_box">
        <h2 class="center">新規登録</h2>
        <hr>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :last_name, "氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-under", placeholder: "苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-under", placeholder: "名前" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :kana_last_name, "カナ氏名" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name", class:"form-under", placeholder: "カナ苗字" %>
              </div>
              <div class="col">
                <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name", class:"form-under", placeholder: "カナ名前" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br />
            <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number", class:"form-under", placeholder: "09012345678" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-under", placeholder: "〇〇〇@example.com" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-under", placeholder: "#{@minimum_password_length}文字以上" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-under" %>
          </div>

          <div class="actions center ma-50px">
            <%= f.submit "新規登録", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>     
    </div>
  </div>
</div>